Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

feat(ucd-store): add tests for mirrorUCDFiles and validateUCDFiles functions
  apps/proxy/src/index.ts
  packages/ucd-store/package.json
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files.ts
  packages/ucd-store/src/ucd-files/helpers.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/ucd-store/src/ucd-files/mirror.ts
  packages/ucd-store/src/ucd-files/validate.ts
  packages/ucd-store/test/ucd-files/dump._test.ts
  packages/ucd-store/test/ucd-files/mirror.test.ts
  packages/ucd-store/test/ucd-files/validate.test.ts
  packages/ucd-store/tsdown.config.ts
  packages/utils/package.json
  packages/utils/src/fs-bridge/http.ts
  packages/utils/tsdown.config.ts
  packages/worker-shared/src/setups.ts
  pnpm-lock.yaml
  tooling/tsconfig/base.json
Labels: pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: proxy

feat(ucd-store): add tests for mirrorUCDFiles and validateUCDFiles functions
  apps/proxy/src/index.ts
  packages/ucd-store/package.json
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files.ts
  packages/ucd-store/src/ucd-files/helpers.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/ucd-store/src/ucd-files/mirror.ts
  packages/ucd-store/src/ucd-files/validate.ts
  packages/ucd-store/test/ucd-files/dump._test.ts
  packages/ucd-store/test/ucd-files/mirror.test.ts
  packages/ucd-store/test/ucd-files/validate.test.ts
  packages/ucd-store/tsdown.config.ts
  packages/utils/package.json
  packages/utils/src/fs-bridge/http.ts
  packages/utils/tsdown.config.ts
  packages/worker-shared/src/setups.ts
  pnpm-lock.yaml
  tooling/tsconfig/base.json
Labels: pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: proxy

fix(utils): update listdir to return file names and enhance recursive listing
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils

fix(utils): update listdir to return file names and enhance recursive listing
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils

chore: format
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils

chore: format
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils

test(utils): enhance directory listing tests and add stat operation validation
  packages/utils/src/fs-bridge/http.ts
  packages/utils/test/fs-bridge/http.test.ts
Labels: pkg: utils

test(utils): enhance directory listing tests and add stat operation validation
  packages/utils/src/fs-bridge/http.ts
  packages/utils/test/fs-bridge/http.test.ts
Labels: pkg: utils

feat(api): add wildcard proxy routes and internal handling
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

feat(api): add wildcard proxy routes and internal handling
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

chore: lint
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

chore: lint
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

chore: add changeset
  .changeset/small-spiders-pump.md
Labels: none

chore: add changeset
  .changeset/small-spiders-pump.md
Labels: none

fix(api): update internalProxyRoute to handle extraPath parameter
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

fix(api): update internalProxyRoute to handle extraPath parameter
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

fix(api): refine internalProxyRoute type and condition checks
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

fix(api): refine internalProxyRoute type and condition checks
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

feat(worker-shared): enhance tests for Hono context integration in error responses
  packages/worker-shared/src/errors.ts
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

feat(worker-shared): enhance tests for Hono context integration in error responses
  packages/worker-shared/src/errors.ts
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

chore: add Codecov configuration and badges to documentation
  .github/codecov.yml
  packages/env/README.md
  packages/fetch/README.md
  packages/schema-gen/README.md
  packages/ucd-store/README.md
  packages/utils/README.md
  packages/worker-shared/README.md
Labels: pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared

chore: add Codecov configuration and badges to documentation
  .github/codecov.yml
  packages/env/README.md
  packages/fetch/README.md
  packages/schema-gen/README.md
  packages/ucd-store/README.md
  packages/utils/README.md
  packages/worker-shared/README.md
Labels: pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared

chore: lint
  packages/worker-shared/src/errors.ts
Labels: pkg: worker-shared

chore: lint
  packages/worker-shared/src/errors.ts
Labels: pkg: worker-shared

fix(api): improve error handling in Unicode routes
  apps/api/src/routes/v1_files.ts
  apps/api/src/routes/v1_unicode-proxy.ts
  apps/api/src/routes/v1_unicode-versions.ts
Labels: apps: api

fix(api): improve error handling in Unicode routes
  apps/api/src/routes/v1_files.ts
  apps/api/src/routes/v1_unicode-proxy.ts
  apps/api/src/routes/v1_unicode-versions.ts
Labels: apps: api

feat(ucd-store): add tests for flattenFilePaths function
  packages/ucd-store/src/ucd-files/helpers.ts
  packages/ucd-store/test/ucd-files/helpers.test.ts
Labels: pkg: ucd-store

chore: update package versions in pnpm-workspace.yaml
  apps/api/package.json
  apps/proxy/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/schema-gen/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  packages/worker-shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

chore: update package versions in pnpm-workspace.yaml
  apps/api/package.json
  apps/proxy/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/schema-gen/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  packages/worker-shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: lint
  packages/cli/src/cli-utils.ts
Labels: pkg: cli

chore: lint
  packages/cli/src/cli-utils.ts
Labels: pkg: cli

chore: format
  packages/ucd-store/src/ucd-files.ts
Labels: pkg: ucd-store

feat(ucd-store): implement mirrorUCDFiles function for downloading Unicode files
  packages/ucd-store/src/mirror.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/ucd-store/test/mirror.test.ts
Labels: pkg: ucd-store

feat(ucd-store): refactor UCDStore to improve private field handling and add remote store tests
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files.ts
  packages/ucd-store/test/remote-store.test.ts
Labels: pkg: ucd-store

feat: enhance mockResponses with detailed documentation and additional response types
  test/msw-utils/msw.ts
Labels: none

refactor(ucd-store): change private fields to use class field syntax
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/remote-store.test.ts
  packages/ucd-store/test/store.test.ts
Labels: pkg: ucd-store

refactor(ucd-store): replace loadedVersions with private #versions field
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/remote-store.test.ts
Labels: pkg: ucd-store

test(ucd-store): enhance file tree operations with API integration tests
  packages/ucd-store/test/remote-store.test.ts
Labels: pkg: ucd-store

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**
