Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

fix(api): update cache name and remove unused import
  apps/api/src/routes/v1_files.ts
Labels: apps: api

fix(api): update cache name and remove unused import
  apps/api/src/routes/v1_files.ts
Labels: apps: api

test(api): improve error handling for file version requests
  apps/api/test/routes/v1_files.test.ts
Labels: apps: api

test(api): improve error handling for file version requests
  apps/api/test/routes/v1_files.test.ts
Labels: apps: api

feat(worker-shared): add clearCacheEntry function for cache management
  packages/worker-shared/src/cache.ts
  packages/worker-shared/src/index.ts
Labels: pkg: worker-shared

feat(worker-shared): add clearCacheEntry function for cache management
  packages/worker-shared/src/cache.ts
  packages/worker-shared/src/index.ts
Labels: pkg: worker-shared

test(worker-shared): add unit tests for clearCacheEntry function
  packages/worker-shared/test/cache.test.ts
Labels: pkg: worker-shared

test(worker-shared): add unit tests for clearCacheEntry function
  packages/worker-shared/test/cache.test.ts
Labels: pkg: worker-shared

perf(worker-shared): lazy cache opening
  packages/worker-shared/src/cache.ts
Labels: pkg: worker-shared

perf(worker-shared): lazy cache opening
  packages/worker-shared/src/cache.ts
Labels: pkg: worker-shared

test(worker-shared): enhance tests for clearCacheEntry function
  packages/worker-shared/test/cache.test.ts
Labels: pkg: worker-shared

test(worker-shared): enhance tests for clearCacheEntry function
  packages/worker-shared/test/cache.test.ts
Labels: pkg: worker-shared

test(api): enhance caching tests for version responses
  apps/api/test/routes/v1_files.test.ts
Labels: apps: api

test(api): enhance caching tests for version responses
  apps/api/test/routes/v1_files.test.ts
Labels: apps: api

feat(api): update version handling to use UNICODE_STABLE_VERSION
  apps/api/src/routes/v1_files.ts
Labels: apps: api

feat(api): update version handling to use UNICODE_STABLE_VERSION
  apps/api/src/routes/v1_files.ts
Labels: apps: api

test(api): enhance v1_files tests for structured data and error handling
  apps/api/test/routes/v1_files.test.ts
Labels: apps: api

test(api): enhance v1_files tests for structured data and error handling
  apps/api/test/routes/v1_files.test.ts
Labels: apps: api

chore: remove console log for cache-control header in v1_files tests
  apps/api/test/routes/v1_files.test.ts
Labels: apps: api

chore: remove console log for cache-control header in v1_files tests
  apps/api/test/routes/v1_files.test.ts
Labels: apps: api

feat(cli): add support for Clack prompts and Unicode version selection
  packages/cli/package.json
  packages/cli/src/cmd/store/_shared.ts
  packages/cli/src/cmd/store/init.ts
  packages/ucd-store/src/store.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli, pkg: ucd-store

Refactor error tests for better organization and clarity; add comprehensive file operations tests; streamline store configuration tests by utilizing shared mock file systems.
  packages/cli/src/cmd/store/_shared.ts
  packages/cli/src/cmd/store/init.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/__shared.ts
  packages/ucd-store/test/analyze.test.ts
  packages/ucd-store/test/errors.test.ts
  packages/ucd-store/test/file-operations.test.ts
  packages/ucd-store/test/store-configuration.test.ts
Labels: pkg: cli, pkg: ucd-store

chore: remove pnpm version specification from engines in package.json
  package.json
Labels: none

chore: remove pnpm version specification from engines in package.json
  package.json
Labels: none

chore: update dependencies
  apps/api/package.json
  apps/proxy/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/schema-gen/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  packages/worker-shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

chore: update dependencies
  apps/api/package.json
  apps/proxy/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/schema-gen/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  packages/worker-shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

chore: update node engine version across packages
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/schema-gen/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils

chore: update node engine version across packages
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/schema-gen/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils

fix(schemas): update documentationUrl and url types to z.url()
  apps/api/src/routes/v1_unicode-releases.schemas.ts
Labels: apps: api

fix(schemas): update documentationUrl and url types to z.url()
  apps/api/src/routes/v1_unicode-releases.schemas.ts
Labels: apps: api

chore: fix typecheck
  packages/schema-gen/src/fields.ts
  packages/schema-gen/src/index.ts
Labels: pkg: schema-gen

chore: fix typecheck
  packages/schema-gen/src/fields.ts
  packages/schema-gen/src/index.ts
Labels: pkg: schema-gen

feat(utils): enhance file system bridge capabilities and types
  packages/utils/src/fs-bridge.ts
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
  packages/utils/test/fs-bridge.test.ts
  packages/utils/test/fs-bridge/http.test.ts
  packages/utils/test/fs-bridge/node.test.ts
Labels: pkg: utils

chore: add changeset
  .changeset/better-teeth-glow.md
Labels: none

chore: update msw utils
  apps/api/worker-configuration.d.ts
  apps/proxy/worker-configuration.d.ts
  packages/fetch/test/index.test.ts
  packages/ucd-store/test/ucd-files/mirror.test.ts
  packages/ucd-store/test/ucd-files/validate.test.ts
  packages/utils/test/fs-bridge/http.test.ts
  test/msw-utils/msw.ts
Labels: pkg: fetch, pkg: ucd-store, pkg: utils, apps: api, apps: proxy

chore: update msw utils
  apps/api/worker-configuration.d.ts
  apps/proxy/worker-configuration.d.ts
  packages/fetch/test/index.test.ts
  packages/ucd-store/test/ucd-files/mirror.test.ts
  packages/ucd-store/test/ucd-files/validate.test.ts
  packages/utils/test/fs-bridge/http.test.ts
  test/msw-utils/msw.ts
Labels: pkg: fetch, pkg: ucd-store, pkg: utils, apps: api, apps: proxy

refactor(utils): remove lastModified from ListDirResponseSchema
  packages/utils/src/fs-bridge/http.ts
  packages/utils/test/fs-bridge/http.test.ts
  packages/utils/test/fs-bridge/node.test.ts
Labels: pkg: utils

refactor(utils): improve FSEntry type definition and enhance NodeFileSystemBridge functionality
  packages/utils/src/fs-bridge.ts
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
  packages/utils/test/fs-bridge/http.test.ts
  packages/utils/test/fs-bridge/node.test.ts
Labels: pkg: utils

feat(utils): add flattenFilePaths function to recursively flatten file structures
  packages/utils/src/flatten.ts
  packages/utils/test/flatten.test.ts
Labels: pkg: utils

feat(utils): add flattenFilePaths function to recursively flatten file structures
  packages/utils/src/flatten.ts
  packages/utils/test/flatten.test.ts
Labels: pkg: utils

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**
