Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

Refactor clean operation in UCDStore to improve error handling and results structure
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
  packages/ucd-store/test/clean.test.ts
Labels: pkg: ucd-store

refactor(ucd-store): simplify file listing and structure creation in getFileTree
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

refactor(ucd-store): update file system bridge interfaces and implementations
  packages/ucd-store/package.json
  packages/ucd-store/playgrounds/remote-playground.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/clean.test.ts
  packages/utils/src/fs-bridge.ts
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
  packages/utils/test/fs-bridge/http.test.ts
  packages/utils/test/fs-bridge/node.test.ts
  test/msw-utils/msw.ts
Labels: pkg: ucd-store, pkg: utils

refactor(msw): enhance response handling in mockFetch
  test/msw-utils/msw.ts
Labels: none

refactor(fs-bridge): rename supportedFunctions to features
  packages/utils/src/fs-bridge.ts
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils

feat(fs-bridge): add support for retrieving default features
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

refactor(utils): update features property type to FileSystemBridgeFeatures
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

feat(ucd-store): implement store capabilities inference and error handling
  packages/ucd-store/src/factory.ts
  packages/ucd-store/src/internal/capabilities.ts
  packages/ucd-store/src/internal/errors.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
  packages/ucd-store/test/internal/capabilities.test.ts
  packages/ucd-store/test/internal/errors.test.ts
  packages/utils/src/fs-bridge.ts
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
Labels: pkg: ucd-store, pkg: utils

feat(ucd-store): enhance StoreCapabilities with new features
  packages/ucd-store/src/internal/capabilities.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
Labels: pkg: ucd-store

feat(ucd-store): enhance capabilities and add decorator for capability checks
  packages/ucd-store/src/internal/capabilities.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/tsconfig.build.json
  packages/ucd-store/tsconfig.json
  packages/ucd-store/tsdown.config.ts
  packages/utils/src/fs-bridge.ts
Labels: pkg: ucd-store, pkg: utils

Add comprehensive tests for remote UCD store functionality
  packages/ucd-store/src/factory.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
  packages/ucd-store/test/clean.test.ts
  packages/ucd-store/test/local/local-analysis-operations.-test.ts
  packages/ucd-store/test/old-tests/analysis-operations.-test.ts
  packages/ucd-store/test/old-tests/core-file-operations.-test.ts
  packages/ucd-store/test/old-tests/error-handling.-test.ts
  packages/ucd-store/test/old-tests/http-filesystem.-test.ts
  packages/ucd-store/test/old-tests/performance-integration.-test.ts
  packages/ucd-store/test/old-tests/store-configuration.-test.ts
Labels: pkg: ucd-store

test(utils): add comprehensive tests for file system bridge functionality
  packages/utils/test/fs-bridge.test.ts
Labels: pkg: utils

chore: remove unused fSStats and fSEntry interface tests
  packages/utils/test/fs-bridge.test.ts
Labels: pkg: utils

feat(ucd-store): enhance file path handling and logging in playgrounds
  apps/proxy/src/index.ts
  packages/ucd-store/package.json
  packages/ucd-store/playgrounds/_utils.ts
  packages/ucd-store/playgrounds/http-playground.ts
  packages/ucd-store/playgrounds/local-playground.ts
  packages/ucd-store/playgrounds/remote-playground.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: ucd-store, pkg: utils, apps: proxy

fix(proxy): update directory file paths in getEntryByPath
  apps/proxy/src/lib.ts
Labels: apps: proxy

fix(proxy): update directory file paths in getEntryByPath
  apps/proxy/src/lib.ts
Labels: apps: proxy

fix(proxy): simplify response structure for directory entries
  apps/proxy/src/index.ts
Labels: apps: proxy

test(http-playground): add validation for file structure and content retrieval
  packages/ucd-store/playgrounds/http-playground.ts
  packages/ucd-store/src/store.ts
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: ucd-store, pkg: utils

feat(ucd-store): add Node and Memory playgrounds for UCD Store
  packages/ucd-store/package.json
  packages/ucd-store/playgrounds/memory-playground.ts
  packages/ucd-store/playgrounds/node-playground.ts
Labels: pkg: ucd-store

feat: add isApiError utility function to identify API errors
  packages/fetch/src/api-error.ts
  packages/fetch/src/index.ts
  packages/ucd-store/src/factory.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
  packages/ucd-store/test/old-tests/local-analysis-operations.-test.ts
  packages/ucd-store/test/store-configuration.test.ts
  packages/utils/src/fs-bridge/http.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: fetch, pkg: ucd-store, pkg: utils

feat(api): add API routes for Unicode versions and mappings
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

feat(api): add API routes for Unicode versions and mappings
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

feat(api): add description for Unicode versions endpoints
  apps/api/src/index.ts
  apps/api/src/openapi.ts
Labels: apps: api

feat(api): add description for Unicode versions endpoints
  apps/api/src/index.ts
  apps/api/src/openapi.ts
Labels: apps: api

fix(api): mark LIST_ALL_UNICODE_VERSIONS_ROUTE and GET_UNICODE_MAPPINGS as deprecated
  apps/api/src/routes/v1_unicode-versions.openapi.ts
Labels: apps: api

fix(api): mark LIST_ALL_UNICODE_VERSIONS_ROUTE and GET_UNICODE_MAPPINGS as deprecated
  apps/api/src/routes/v1_unicode-versions.openapi.ts
Labels: apps: api

chore: apply suggestions from code review
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

chore: apply suggestions from code review
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

chore: apply suggestion
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

chore: apply suggestion
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

feat(api): add GET_SUPPORTED_VERSIONS_ROUTE endpoint
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

feat(api): add GET_SUPPORTED_VERSIONS_ROUTE endpoint
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

chore(api): remove deprecated routes from v1_versions
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

chore(api): remove deprecated routes from v1_versions
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

chore(api): format import statements for consistency
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

chore(api): format import statements for consistency
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

chore: lint
  apps/api/src/routes/v1_versions.openapi.ts
Labels: apps: api

chore: lint
  apps/api/src/routes/v1_versions.openapi.ts
Labels: apps: api

chore: use different ports for workers
  apps/api/package.json
  apps/proxy/package.json
Labels: apps: api, apps: proxy

chore: use different ports for workers
  apps/api/package.json
  apps/proxy/package.json
Labels: apps: api, apps: proxy

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**
