Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schemas":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**

"pkg: path-utils":
  - changed-files:
      - any-glob-to-any-file: packages/path-utils/**

"pkg: fs-bridge":
  - changed-files:
      - any-glob-to-any-file: packages/fs-bridge/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: shared":
  - changed-files:
      - any-glob-to-any-file: packages/shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: web":
  - changed-files:
      - any-glob-to-any-file: apps/web/**

test(ucd-store): enhance file tree tests for nested filtering
  packages/ucd-store/test/file-operations/file-tree.test.ts
Labels: pkg: ucd-store

test(ucd-store): enhance file tree tests for nested filtering
  packages/ucd-store/test/file-operations/file-tree.test.ts
Labels: pkg: ucd-store

feat(filter): enhance directory pattern handling in filters
  packages/shared/src/filter.ts
  packages/shared/test/filter.test.ts
Labels: pkg: shared

feat(filter): enhance directory pattern handling in filters
  packages/shared/src/filter.ts
  packages/shared/test/filter.test.ts
Labels: pkg: shared

chore: fix picomatch import
  packages/shared/src/filter.ts
  packages/shared/src/index.ts
  packages/shared/test/filter.test.ts
Labels: pkg: shared

chore: fix picomatch import
  packages/shared/src/filter.ts
  packages/shared/src/index.ts
  packages/shared/test/filter.test.ts
Labels: pkg: shared

chore(ai): setup claude.md
  CLAUDE.md
Labels: none

chore(ai): setup claude.md
  CLAUDE.md
Labels: none

chore(ai): setup agents.md
  AGENTS.md
Labels: none

chore(ai): setup agents.md
  AGENTS.md
Labels: none

chore: update agents.md
  AGENTS.md
Labels: none

chore: update agents.md
  AGENTS.md
Labels: none

chore: fix invalid reference
  packages/shared/src/filter.ts
Labels: pkg: shared

chore: fix invalid reference
  packages/shared/src/filter.ts
Labels: pkg: shared

chore: fix coderabbit suggestion
  packages/shared/src/filter.ts
Labels: pkg: shared

chore: fix coderabbit suggestion
  packages/shared/src/filter.ts
Labels: pkg: shared

chore: fix changeset
  .changeset/bumpy-mangos-beam.md
Labels: none

chore: fix changeset
  .changeset/bumpy-mangos-beam.md
Labels: none

chore: update claude reference
  CLAUDE.md
Labels: none

chore: update claude reference
  CLAUDE.md
Labels: none

chore: debug
  patches/@changesets__get-github-info@0.6.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: debug
  patches/@changesets__get-github-info@0.6.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: revert patch
  patches/@changesets__get-github-info@0.6.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: revert patch
  patches/@changesets__get-github-info@0.6.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: use node 22.18
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/fs-bridge/package.json
  packages/path-utils/package.json
  packages/schema-gen/package.json
  packages/schemas/package.json
  packages/shared/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  tooling/test-utils/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared

chore: use node 22.18
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/fs-bridge/package.json
  packages/path-utils/package.json
  packages/schema-gen/package.json
  packages/schemas/package.json
  packages/shared/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  tooling/test-utils/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared

chore: solution one
  apps/api/eslint.config.js
  apps/api/package.json
  apps/api/scripts/build-openapi.ts
  apps/api/src/lib/errors.ts
  apps/api/src/lib/handlers.ts
  apps/api/src/lib/index.ts
  apps/api/src/lib/openapi.ts
  apps/api/src/lib/setups.ts
  apps/api/src/lib/strict.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/worker.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps: api

chore: solution one
  apps/api/eslint.config.js
  apps/api/package.json
  apps/api/scripts/build-openapi.ts
  apps/api/src/lib/errors.ts
  apps/api/src/lib/handlers.ts
  apps/api/src/lib/index.ts
  apps/api/src/lib/openapi.ts
  apps/api/src/lib/setups.ts
  apps/api/src/lib/strict.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/worker.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps: api

chore: allow import ts files
  apps/api/tsconfig.json
Labels: apps: api

chore: allow import ts files
  apps/api/tsconfig.json
Labels: apps: api

chore: introduce moonbeam
  apps/api/package.json
  apps/api/scripts/build-openapi.ts
  apps/api/src/lib/errors.ts
  apps/api/src/lib/handlers.ts
  apps/api/src/lib/index.ts
  apps/api/src/lib/openapi.ts
  apps/api/src/lib/setups.ts
  apps/api/src/lib/strict.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/worker.ts
  apps/api/tsconfig.json
  packages/shared/src/debugger.ts
  pnpm-lock.yaml
  tooling/moonbeam/README.md
  tooling/moonbeam/package.json
  tooling/moonbeam/src/esm-loader.mjs
  tooling/moonbeam/src/register.mjs
Labels: pkg: shared, apps: api

chore: introduce moonbeam
  apps/api/package.json
  apps/api/scripts/build-openapi.ts
  apps/api/src/lib/errors.ts
  apps/api/src/lib/handlers.ts
  apps/api/src/lib/index.ts
  apps/api/src/lib/openapi.ts
  apps/api/src/lib/setups.ts
  apps/api/src/lib/strict.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/worker.ts
  apps/api/tsconfig.json
  packages/shared/src/debugger.ts
  pnpm-lock.yaml
  tooling/moonbeam/README.md
  tooling/moonbeam/package.json
  tooling/moonbeam/src/esm-loader.mjs
  tooling/moonbeam/src/register.mjs
Labels: pkg: shared, apps: api

chore: remove unused tsconfig-paths dependency
  apps/api/package.json
  apps/api/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: apps: api

chore: remove unused tsconfig-paths dependency
  apps/api/package.json
  apps/api/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: apps: api

chore(moonbeam): add ESLint configuration and update loader scripts
  packages/shared/src/debugger.ts
  tooling/moonbeam/README.md
  tooling/moonbeam/eslint.config.js
  tooling/moonbeam/package.json
  tooling/moonbeam/src/esm-loader.mjs
  tooling/moonbeam/src/register.mjs
Labels: pkg: shared

chore(moonbeam): add ESLint configuration and update loader scripts
  packages/shared/src/debugger.ts
  tooling/moonbeam/README.md
  tooling/moonbeam/eslint.config.js
  tooling/moonbeam/package.json
  tooling/moonbeam/src/esm-loader.mjs
  tooling/moonbeam/src/register.mjs
Labels: pkg: shared

chore: update readme
  tooling/moonbeam/README.md
Labels: none

chore: update readme
  tooling/moonbeam/README.md
Labels: none

chore: update package versions in pnpm-workspace.yaml to remove caret (^) for consistency
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/fs-bridge/package.json
  packages/path-utils/package.json
  packages/schema-gen/package.json
  packages/schemas/package.json
  packages/shared/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/moonbeam/package.json
  tooling/test-utils/package.json
  tooling/tsconfig/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

chore: update package versions in pnpm-workspace.yaml to remove caret (^) for consistency
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/fs-bridge/package.json
  packages/path-utils/package.json
  packages/schema-gen/package.json
  packages/schemas/package.json
  packages/shared/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/moonbeam/package.json
  tooling/test-utils/package.json
  tooling/tsconfig/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web
