Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schemas":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**

"pkg: path-utils":
  - changed-files:
      - any-glob-to-any-file: packages/path-utils/**

"pkg: fs-bridge":
  - changed-files:
      - any-glob-to-any-file: packages/fs-bridge/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: shared":
  - changed-files:
      - any-glob-to-any-file: packages/shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: web":
  - changed-files:
      - any-glob-to-any-file: apps/web/**

chore: update packageManager to pnpm@10.16.1 across all packages
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/fs-bridge/package.json
  packages/path-utils/package.json
  packages/schema-gen/package.json
  packages/schemas/package.json
  packages/shared/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  pnpm-workspace.yaml
  tooling/moonbeam/package.json
  tooling/test-utils/package.json
  tooling/tsconfig/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

chore: patch @asteasolutions/zod-to-openapi to work with schemas without .openapi
  patches/@asteasolutions__zod-to-openapi@8.1.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: patch @asteasolutions/zod-to-openapi to work with schemas without .openapi
  patches/@asteasolutions__zod-to-openapi@8.1.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

test: enhance test setup by adding beforeEach for z.globalRegistry
  apps/api/test/routes/v1_files.test.ts
  apps/api/test/routes/v1_versions.test.ts
  vitest.config.ts
Labels: apps: api

test: enhance test setup by adding beforeEach for z.globalRegistry
  apps/api/test/routes/v1_files.test.ts
  apps/api/test/routes/v1_versions.test.ts
  vitest.config.ts
Labels: apps: api

chore: fix types
  tooling/test-utils/src/store.ts
Labels: none

chore: fix types
  tooling/test-utils/src/store.ts
Labels: none

chore: fix import
  packages/fetch/test/index.test.ts
Labels: pkg: fetch

chore: fix import
  packages/fetch/test/index.test.ts
Labels: pkg: fetch

chore: fix import
  packages/fetch/test/guards.test.ts
Labels: pkg: fetch

chore: fix import
  packages/fetch/test/guards.test.ts
Labels: pkg: fetch

chore: fix imports
  packages/ucd-store/test/internal/files.test.ts
  packages/ucd-store/test/maintenance/mirror.test.ts
Labels: pkg: ucd-store

chore: fix imports
  packages/ucd-store/test/internal/files.test.ts
  packages/ucd-store/test/maintenance/mirror.test.ts
Labels: pkg: ucd-store

chore: add overrides for dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: add overrides for dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat(vscode): add initial implementation of UCD Explorer extension
  .nvmrc
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  packages/cli/package.json
  packages/fetch/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vscode/.gitignore
  vscode/README.md
  vscode/eslint.config.js
  vscode/package.json
  vscode/src/commands/browse-ucd-files.ts
  vscode/src/commands/index.ts
  vscode/src/commands/open-entry.ts
  vscode/src/commands/refresh-explorer.ts
  vscode/src/commands/visualize-file.ts
  vscode/src/composables/useUCDContentProvider.ts
  vscode/src/composables/useUCDExplorer.ts
  vscode/src/composables/useUCDStore.ts
  vscode/src/config.ts
  vscode/src/extension.ts
  vscode/src/lib/UCDContentProvider.ts
  vscode/src/lib/files.ts
  vscode/src/logger.ts
  vscode/src/views/ucd-explorer.ts
  vscode/tsconfig.build.json
  vscode/tsconfig.json
  vscode/tsdown.config.ts
  vscode/turbo.json
Labels: pkg: cli, pkg: fetch, pkg: shared

feat(vscode): update launch configuration and tasks for development
  .vscode/launch.json
  .vscode/tasks.json
  package.json
  vscode/package.json
  vscode/src/commands/open-entry.ts
  vscode/src/lib/files.ts
Labels: none

fix(vscode): update property names for consistency
  vscode/src/commands/open-entry.ts
  vscode/src/composables/useUCDExplorer.ts
  vscode/src/lib/files.ts
Labels: none

fix(vscode): update entry mapping to handle TypeScript errors
  vscode/src/commands/open-entry.ts
  vscode/src/composables/useUCDExplorer.ts
  vscode/src/lib/files.ts
Labels: none

chore: lint
  vscode/eslint.config.js
Labels: none

feat(vscode): enhance UCD store functionality and improve file system bridge
  packages/ucd-store/src/store.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vscode/package.json
  vscode/src/composables/useUCDStore.ts
Labels: pkg: ucd-store

ci: add provenance workflow
  .github/workflows/provenance.yml
Labels: none

ci: add provenance workflow
  .github/workflows/provenance.yml
Labels: none

chore: update actions to latest versions
  .github/workflows/ci-security.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-cache.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
  .github/workflows/lint-pr.yml
  .github/workflows/openapi-artifact.yml
  .github/workflows/pr-preview.yml
  .github/workflows/provenance.yml
  .github/workflows/release.yml
Labels: none

chore: update actions to latest versions
  .github/workflows/ci-security.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-cache.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
  .github/workflows/lint-pr.yml
  .github/workflows/openapi-artifact.yml
  .github/workflows/pr-preview.yml
  .github/workflows/provenance.yml
  .github/workflows/release.yml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: fix workflow
  .github/workflows/openapi-artifact.yml
Labels: none

chore: fix workflow
  .github/workflows/openapi-artifact.yml
Labels: none

chore: fix workflow
  .github/workflows/provenance.yml
Labels: none

chore: fix workflow
  .github/workflows/provenance.yml
Labels: none

chore: fix workflow
  .github/workflows/provenance.yml
Labels: none

chore: fix workflow
  .github/workflows/provenance.yml
Labels: none

ci: add deploy workflow for preview and production environments
  .github/workflows/deploy-merged.yml
Labels: none

chore: fix workflow
  .github/workflows/deploy-merged.yml
Labels: none

chore: lint
  packages/ucd-store/src/store.ts
  vscode/src/composables/useUCDStore.ts
Labels: pkg: ucd-store

chore(vscode): update workspace configuration and scripts
  package.json
  vscode/package.json
  vscode/tsdown.config.ts
Labels: none

chore(vscode): update development scripts and add vscodeFSBridge
  package.json
  packages/ucd-store/src/store.ts
  vscode/package.json
  vscode/src/composables/useUCDExplorer.ts
  vscode/src/composables/useUCDStore.ts
  vscode/src/lib/files.ts
  vscode/src/lib/vscode-fs-bridge.ts
  vscode/turbo.json
Labels: pkg: ucd-store

fix(vscode): ensure UCDStore is initialized before loading files
  vscode/src/composables/useUCDExplorer.ts
Labels: none

chore: remove debug
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store
