Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**

chore: update apache-autoindex-parse to version 2.3.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update apache-autoindex-parse to version 2.3.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

test(ucd-store): enhance remote file tree operations with filtering and error handling
  packages/ucd-store/test/remote-store.test.ts
  test/msw-utils/msw.ts
Labels: pkg: ucd-store

fix(utils): update predefined filter patterns for exclusions
  packages/utils/src/filter.ts
Labels: pkg: utils

fix(utils): update predefined filter patterns for exclusions
  packages/utils/src/filter.ts
Labels: pkg: utils

docs(utils): update README to enhance usage examples and clarify functionality
  packages/utils/README.md
Labels: pkg: utils

docs(utils): update README to enhance usage examples and clarify functionality
  packages/utils/README.md
Labels: pkg: utils

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

feat(msw): add redirect response utility
  test/msw-utils/msw.ts
Labels: none

test(ucd-store): refactor file mock data and enhance test coverage
  packages/ucd-store/test/remote-store.test.ts
Labels: pkg: ucd-store

test(ucd-store): Add comprehensive tests for remote UCD store functionality
  packages/ucd-store/test/remote-store.test.ts
  packages/ucd-store/test/remote/remote-store-analysis.test.ts
  packages/ucd-store/test/remote/remote-store-edge-cases.test.ts
  packages/ucd-store/test/remote/remote-store-error-handling.test.ts
  packages/ucd-store/test/remote/remote-store-file-operations.test.ts
  packages/ucd-store/test/remote/remote-store-file-tree.test.ts
  packages/ucd-store/test/remote/remote-store-http-filesystem.test.ts
  packages/ucd-store/test/remote/remote-store-initialization.test.ts
  packages/ucd-store/test/remote/remote-store-integration.test.ts
  packages/ucd-store/test/remote/remote-store-performance.test.ts
  packages/ucd-store/test/remote/remote-store-version-management.test.ts
  packages/ucd-store/test/store.test.ts
Labels: pkg: ucd-store

test(ucd-store): remove redundant mock filesystem setup in remote store tests
  packages/ucd-store/test/remote/remote-store-edge-cases.test.ts
  packages/ucd-store/test/remote/remote-store-file-operations.test.ts
  packages/ucd-store/test/remote/remote-store-file-tree.test.ts
Labels: pkg: ucd-store

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat(fetch): add ApiResponseError class for improved error handling
  packages/fetch/src/api-error.ts
  packages/fetch/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: fetch

feat(ucd-store): enhance error handling and filtering in remote UCD store
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/remote/remote-store-error-handling.test.ts
  packages/ucd-store/test/remote/remote-store-integration.test.ts
  test/msw-utils/msw.ts
Labels: pkg: ucd-store

test(ucd-store): improve error handling in remote store operations
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/remote/remote-store-file-operations.test.ts
  packages/ucd-store/test/remote/remote-store-file-tree.test.ts
  packages/ucd-store/test/remote/remote-store-integration.test.ts
  packages/ucd-store/test/remote/remote-store-performance.test.ts
Labels: pkg: ucd-store

chore: consolidate ucd-store remote test files
  packages/ucd-store/test/remote/analysis-operations.test.ts
  packages/ucd-store/test/remote/core-file-operations.test.ts
  packages/ucd-store/test/remote/error-handling-edge-cases.test.ts
  packages/ucd-store/test/remote/http-filesystem.test.ts
  packages/ucd-store/test/remote/performance-integration.test.ts
  packages/ucd-store/test/remote/remote-store-edge-cases.test.ts
  packages/ucd-store/test/remote/remote-store-error-handling.test.ts
  packages/ucd-store/test/remote/remote-store-file-tree.test.ts
  packages/ucd-store/test/remote/remote-store-initialization.test.ts
  packages/ucd-store/test/remote/remote-store-integration.test.ts
  packages/ucd-store/test/remote/remote-store-performance.test.ts
  packages/ucd-store/test/remote/remote-store-version-management.test.ts
  packages/ucd-store/test/remote/store-configuration.test.ts
Labels: pkg: ucd-store

test(ucd-store): add comprehensive error handling tests for remote store
  packages/ucd-store/test/remote/analysis-operations.test.ts
  packages/ucd-store/test/remote/core-file-operations.test.ts
  packages/ucd-store/test/remote/error-handling.test.ts
  packages/ucd-store/test/remote/http-filesystem.test.ts
  packages/ucd-store/test/remote/performance-integration.test.ts
  packages/ucd-store/test/remote/store-configuration.test.ts
Labels: pkg: ucd-store

chore: lint
  packages/ucd-store/test/remote/analysis-operations.test.ts
  packages/ucd-store/test/remote/core-file-operations.test.ts
  packages/ucd-store/test/remote/error-handling.test.ts
  packages/ucd-store/test/remote/http-filesystem.test.ts
Labels: pkg: ucd-store

chore(ucd-store): simplify import statement for mirrorUCDFiles
  packages/ucd-store/test/mirror.test.ts
Labels: pkg: ucd-store

feat(fetch): enhance ApiResponseError class with private properties
  packages/fetch/src/api-error.ts
  packages/fetch/test/api-error.test.ts
Labels: pkg: fetch

feat(ucd-store): add UCDStoreError for improved error handling
  packages/ucd-store/src/errors.ts
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

feat(ucd-store): refactor client usage in UCDStore
  packages/fetch/src/index.ts
  packages/ucd-store/src/store.ts
Labels: pkg: fetch, pkg: ucd-store

feat(ucd-store): improve base URL handling and enhance tests
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/remote/error-handling.test.ts
  packages/ucd-store/test/remote/http-filesystem.test.ts
  packages/ucd-store/test/remote/performance-integration.test.ts
Labels: pkg: ucd-store

test(ucd-store): enhance store initialization tests with mocked filesystem
  packages/ucd-store/test/remote/store-configuration.test.ts
Labels: pkg: ucd-store

test(ucd-store): add unit tests for UCDStoreError class
  packages/ucd-store/test/errors.test.ts
Labels: pkg: ucd-store

feat(ucd-store): implement analyze and clean methods in UCDStore
  packages/ucd-store/src/analyze.ts
  packages/ucd-store/src/clean.ts
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

chore: complete structure overhaul
  packages/ucd-store/src/analyze.ts
  packages/ucd-store/src/factory.ts
  packages/ucd-store/src/helpers.ts
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
  packages/ucd-store/src/ucd-files.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/ucd-store/src/ucd-files/validate.ts
  packages/ucd-store/test/helpers.test.ts
  packages/ucd-store/test/mirror.test.ts
  packages/ucd-store/test/old-tests/dump._test.ts
  packages/ucd-store/test/old-tests/mirror.-test.ts
  packages/ucd-store/test/old-tests/store.-test.ts
  packages/ucd-store/test/old-tests/validate.-test.ts
  packages/ucd-store/test/remote/analysis-operations.test.ts
  packages/ucd-store/test/remote/core-file-operations.test.ts
  packages/ucd-store/test/remote/error-handling.test.ts
  packages/ucd-store/test/remote/http-filesystem.test.ts
  packages/ucd-store/test/remote/performance-integration.test.ts
  packages/ucd-store/test/remote/store-configuration.test.ts
  packages/ucd-store/test/store.test.ts
  packages/ucd-store/test/ucd-files/validate.test.ts
  packages/ucd-store/tsdown.config.ts
Labels: pkg: ucd-store

chore: more structural overhaul
  packages/ucd-store/src/internal/errors.ts
  packages/ucd-store/src/internal/flatten.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files.ts
  packages/ucd-store/test/internal/errors.test.ts
  packages/ucd-store/test/internal/flatten.test.ts
  packages/ucd-store/test/remote/core-file-operations.test.ts
  packages/ucd-store/test/remote/error-handling.test.ts
  packages/ucd-store/test/remote/performance-integration.test.ts
Labels: pkg: ucd-store

chore: more structural changes
  packages/ucd-store/src/internal/analyze.ts
  packages/ucd-store/src/internal/clean.ts
  packages/ucd-store/src/internal/internal.ts
  packages/ucd-store/src/internal/mirror.ts
  packages/ucd-store/src/internal/validate.ts
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

refactor(ucd-store): streamline manifest path handling and improve initialization logic
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

refactor(ucd-store): update version handling in UCDStore
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

refactor(ucd-store): enhance manifest loading with schema validation
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

refactor(ucd-store): update import paths for flattenFilePaths
  packages/ucd-store/src/internal/analyze.ts
  packages/ucd-store/src/internal/internal.ts
  packages/ucd-store/src/internal/mirror.ts
  packages/ucd-store/src/internal/validate.ts
Labels: pkg: ucd-store

refactor: remove mirror and validate functions from ucd-store
  packages/ucd-store/src/internal/analyze.ts
  packages/ucd-store/src/internal/clean.ts
  packages/ucd-store/src/internal/internal.ts
  packages/ucd-store/src/internal/mirror.ts
  packages/ucd-store/src/internal/validate.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
Labels: pkg: ucd-store

feat(ucd-store): add processConcurrently utility for controlled concurrency
  packages/ucd-store/src/internal/concurrency.ts
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

Refactor tests to use HttpResponse directly for mocking API responses
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
  packages/ucd-store/test/clean.test.ts
  packages/ucd-store/test/local/analysis-operations.test.ts
  packages/ucd-store/test/remote/analysis-operations.test.ts
  packages/ucd-store/test/remote/core-file-operations.test.ts
  packages/ucd-store/test/remote/error-handling.test.ts
  packages/ucd-store/test/remote/http-filesystem.test.ts
  packages/ucd-store/test/remote/performance-integration.test.ts
  packages/ucd-store/test/remote/store-configuration.test.ts
  test/msw-utils/msw.ts
Labels: pkg: ucd-store
