Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

chore(vscode): add reactive-vscode and related dependencies
  pnpm-workspace.yaml
Labels: none

chore(vscode): add reactive-vscode and related dependencies
  pnpm-workspace.yaml
Labels: none

feat(vscode): add UCD Explorer extension with commands and content provider
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vscode/.gitignore
  vscode/eslint.config.js
  vscode/package.json
  vscode/src/commands/browse-ucd-files.ts
  vscode/src/commands/index.ts
  vscode/src/commands/open-entry.ts
  vscode/src/commands/refresh-explorer.ts
  vscode/src/commands/visualize-file.ts
  vscode/src/composables/useUCDContentProvider.ts
  vscode/src/composables/useUCDExplorer.ts
  vscode/src/composables/useUCDStore.ts
  vscode/src/config.ts
  vscode/src/extension.ts
  vscode/src/lib/files.ts
  vscode/src/lib/ucd-content-provider.ts
  vscode/src/lib/vscode-fs-bridge.ts
  vscode/src/logger.ts
  vscode/src/views/ucd-explorer.ts
  vscode/tsconfig.build.json
  vscode/tsconfig.json
  vscode/tsdown.config.ts
Labels: none

feat(vscode): add UCD Explorer extension with commands and content provider
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vscode/.gitignore
  vscode/eslint.config.js
  vscode/package.json
  vscode/src/commands/browse-ucd-files.ts
  vscode/src/commands/index.ts
  vscode/src/commands/open-entry.ts
  vscode/src/commands/refresh-explorer.ts
  vscode/src/commands/visualize-file.ts
  vscode/src/composables/useUCDContentProvider.ts
  vscode/src/composables/useUCDExplorer.ts
  vscode/src/composables/useUCDStore.ts
  vscode/src/config.ts
  vscode/src/extension.ts
  vscode/src/lib/files.ts
  vscode/src/lib/ucd-content-provider.ts
  vscode/src/lib/vscode-fs-bridge.ts
  vscode/src/logger.ts
  vscode/src/views/ucd-explorer.ts
  vscode/tsconfig.build.json
  vscode/tsconfig.json
  vscode/tsdown.config.ts
Labels: none

chore: add turbo config
  vscode/turbo.json
Labels: none

chore: add turbo config
  vscode/turbo.json
Labels: none

feat(vscode): add README for UCD extension and update turbo.json dependencies
  vscode/README.md
  vscode/turbo.json
Labels: none

feat(vscode): add README for UCD extension and update turbo.json dependencies
  vscode/README.md
  vscode/turbo.json
Labels: none

chore: ignore vscode & tooling packages
  .changeset/config.json
Labels: none

chore: ignore vscode & tooling packages
  .changeset/config.json
Labels: none

revert
  .changeset/config.json
Labels: none

revert
  .changeset/config.json
Labels: none

chore(eslint-plugin): rename package and update imports
  apps/api/eslint.config.js
  apps/api/package.json
  pnpm-lock.yaml
  tooling/eslint-plugin/README.md
  tooling/eslint-plugin/package.json
  tooling/eslint-plugin/src/plugin.js
Labels: apps: api

chore(eslint-plugin): rename package and update imports
  apps/api/eslint.config.js
  apps/api/package.json
  pnpm-lock.yaml
  tooling/eslint-plugin/README.md
  tooling/eslint-plugin/package.json
  tooling/eslint-plugin/src/plugin.js
Labels: apps: api

refactor(tsdown-config): update package references to @ucdjs-tooling/tsdown-config
  packages/cli/package.json
  packages/cli/tsdown.config.ts
  packages/env/package.json
  packages/env/tsdown.config.ts
  packages/fetch/package.json
  packages/fetch/tsdown.config.ts
  packages/fs-bridge/package.json
  packages/fs-bridge/tsdown.config.ts
  packages/path-utils/package.json
  packages/path-utils/tsdown.config.ts
  packages/schema-gen/package.json
  packages/schema-gen/tsdown.config.ts
  packages/schemas/package.json
  packages/schemas/tsdown.config.ts
  packages/shared/package.json
  packages/shared/tsdown.config.ts
  packages/ucd-store/package.json
  packages/ucd-store/tsdown.config.ts
  packages/utils/package.json
  packages/utils/tsdown.config.ts
  pnpm-lock.yaml
  tooling/test-utils/package.json
  tooling/tsconfig/README.md
  tooling/tsdown-config/README.md
  tooling/tsdown-config/package.json
  vscode/package.json
  vscode/tsdown.config.ts
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared

refactor(tsdown-config): update package references to @ucdjs-tooling/tsdown-config
  packages/cli/package.json
  packages/cli/tsdown.config.ts
  packages/env/package.json
  packages/env/tsdown.config.ts
  packages/fetch/package.json
  packages/fetch/tsdown.config.ts
  packages/fs-bridge/package.json
  packages/fs-bridge/tsdown.config.ts
  packages/path-utils/package.json
  packages/path-utils/tsdown.config.ts
  packages/schema-gen/package.json
  packages/schema-gen/tsdown.config.ts
  packages/schemas/package.json
  packages/schemas/tsdown.config.ts
  packages/shared/package.json
  packages/shared/tsdown.config.ts
  packages/ucd-store/package.json
  packages/ucd-store/tsdown.config.ts
  packages/utils/package.json
  packages/utils/tsdown.config.ts
  pnpm-lock.yaml
  tooling/test-utils/package.json
  tooling/tsconfig/README.md
  tooling/tsdown-config/README.md
  tooling/tsdown-config/package.json
  vscode/package.json
  vscode/tsdown.config.ts
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared

chore: lint
  packages/fs-bridge/package.json
Labels: pkg: fs-bridge

chore: lint
  packages/fs-bridge/package.json
Labels: pkg: fs-bridge

chore: update tsconfig readme
  tooling/tsconfig/README.md
Labels: none

chore: update tsconfig readme
  tooling/tsconfig/README.md
Labels: none

chore: fix readme
  tooling/tsconfig/README.md
Labels: none

chore: fix readme
  tooling/tsconfig/README.md
Labels: none

ci(deploy-preview): enhance deployment result handling and reporting
  .github/workflows/deploy-preview.yml
Labels: none

ci(deploy-preview): enhance deployment result handling and reporting
  .github/workflows/deploy-preview.yml
Labels: none

chore: update workflow
  .github/workflows/deploy-preview.yml
Labels: none

chore: update workflow
  .github/workflows/deploy-preview.yml
Labels: none

chore: fix
  .github/workflows/deploy-preview.yml
Labels: none

chore: fix
  .github/workflows/deploy-preview.yml
Labels: none

chore: disable fail-fast
  .github/workflows/deploy-preview.yml
Labels: none

chore: disable fail-fast
  .github/workflows/deploy-preview.yml
Labels: none

chore: debug
  .github/workflows/deploy-preview.yml
Labels: none

chore: debug
  .github/workflows/deploy-preview.yml
Labels: none

chore: fix
  .github/workflows/deploy-preview.yml
Labels: none

chore: fix
  .github/workflows/deploy-preview.yml
Labels: none

chore: update actions to latest versions
  .github/workflows/ci-security.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/provenance.yml
Labels: none

chore: update actions to latest versions
  .github/workflows/ci-security.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/provenance.yml
Labels: none

chore: cleanup
  .github/workflows/deploy-preview.yml
Labels: none

chore: cleanup
  .github/workflows/deploy-preview.yml
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schemas":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**

"pkg: path-utils":
  - changed-files:
      - any-glob-to-any-file: packages/path-utils/**

"pkg: fs-bridge":
  - changed-files:
      - any-glob-to-any-file: packages/fs-bridge/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: shared":
  - changed-files:
      - any-glob-to-any-file: packages/shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: web":
  - changed-files:
      - any-glob-to-any-file: apps/web/**
