Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

chore: run coverage on all environments
  .github/workflows/ci.yml
Labels: none

chore: run coverage on all environments
  .github/workflows/ci.yml
Labels: none

chore: add debug package and types
  packages/shared/package.json
  packages/shared/src/debugger.ts
  packages/shared/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: shared

chore: add debug package and types
  packages/shared/package.json
  packages/shared/src/debugger.ts
  packages/shared/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: shared

chore(path-utils): add debugging for path resolution functions
  packages/path-utils/src/security.ts
Labels: pkg: path-utils

chore(path-utils): add debugging for path resolution functions
  packages/path-utils/src/security.ts
Labels: pkg: path-utils

chore: add @ucdjs/shared as a workspace dependency
  packages/path-utils/package.json
  pnpm-lock.yaml
Labels: pkg: path-utils

chore: add @ucdjs/shared as a workspace dependency
  packages/path-utils/package.json
  pnpm-lock.yaml
Labels: pkg: path-utils

chore(path-utils): add debugging for UNC path rejection
  packages/path-utils/src/platform.ts
Labels: pkg: path-utils

chore(path-utils): add debugging for UNC path rejection
  packages/path-utils/src/platform.ts
Labels: pkg: path-utils

chore(fs-bridge): add @ucdjs/shared as a workspace dependency
  packages/fs-bridge/package.json
  packages/fs-bridge/src/assertions.ts
  packages/fs-bridge/src/bridges/http.ts
  packages/fs-bridge/src/bridges/node.ts
  packages/fs-bridge/src/define.ts
  pnpm-lock.yaml
Labels: pkg: fs-bridge

chore(fs-bridge): add @ucdjs/shared as a workspace dependency
  packages/fs-bridge/package.json
  packages/fs-bridge/src/assertions.ts
  packages/fs-bridge/src/bridges/http.ts
  packages/fs-bridge/src/bridges/node.ts
  packages/fs-bridge/src/define.ts
  pnpm-lock.yaml
Labels: pkg: fs-bridge

chore(shared): replace console.error with debug logging in safeJsonParse
  packages/shared/src/json.ts
  vitest.config.ts
Labels: pkg: shared

chore(shared): replace console.error with debug logging in safeJsonParse
  packages/shared/src/json.ts
  vitest.config.ts
Labels: pkg: shared

chore(api): add @ucdjs/shared as a workspace dependency
  apps/api/package.json
  apps/api/src/lib/handlers.ts
  vitest.config.ts
Labels: apps: api

chore(api): add @ucdjs/shared as a workspace dependency
  apps/api/package.json
  apps/api/src/lib/handlers.ts
  vitest.config.ts
Labels: apps: api

chore: add '@ucdjs/shared' as a workspace dependency
  pnpm-lock.yaml
Labels: none

chore: add '@ucdjs/shared' as a workspace dependency
  pnpm-lock.yaml
Labels: none

chore: cleanup
  vitest.config.ts
Labels: none

chore: cleanup
  vitest.config.ts
Labels: none

test: update error logging to use console.log
  apps/api/test/unit/handlers.test.ts
  vitest.config.ts
Labels: apps: api

test: update error logging to use console.log
  apps/api/test/unit/handlers.test.ts
  vitest.config.ts
Labels: apps: api

chore(shared): add '@ucdjs/shared' as a workspace dependency
  packages/fetch/package.json
  packages/shared/package.json
  packages/shared/src/flatten.ts
  packages/shared/test/flatten.test.ts
  pnpm-lock.yaml
Labels: pkg: fetch, pkg: shared

chore(shared): add '@ucdjs/shared' as a workspace dependency
  packages/fetch/package.json
  packages/shared/package.json
  packages/shared/src/flatten.ts
  packages/shared/test/flatten.test.ts
  pnpm-lock.yaml
Labels: pkg: fetch, pkg: shared

chore: build shared before api
  apps/api/turbo.json
Labels: apps: api

chore: build shared before api
  apps/api/turbo.json
Labels: apps: api

chore: remove annoying debug logs
  vitest.config.ts
Labels: none

chore: remove annoying debug logs
  vitest.config.ts
Labels: none

chore: temporary disable test
  apps/api/test/unit/handlers.test.ts
Labels: apps: api

chore: temporary disable test
  apps/api/test/unit/handlers.test.ts
Labels: apps: api

chore: cleanup
  pnpm-workspace.yaml
Labels: none

chore: cleanup
  pnpm-workspace.yaml
Labels: none

chore: mark test as todo
  apps/api/test/unit/handlers.test.ts
Labels: apps: api

chore: mark test as todo
  apps/api/test/unit/handlers.test.ts
Labels: apps: api

chore: format
  packages/shared/test/flatten.test.ts
Labels: pkg: shared

chore: format
  packages/shared/test/flatten.test.ts
Labels: pkg: shared

fix(shared): ensure default include pattern is set correctly
  packages/shared/src/filter.ts
Labels: pkg: shared

fix(shared): ensure default include pattern is set correctly
  packages/shared/src/filter.ts
Labels: pkg: shared

test(file-tree): add directory structure for filtered content
  packages/ucd-store/test/file-operations/file-tree.test.ts
Labels: pkg: ucd-store

test(file-tree): add directory structure for filtered content
  packages/ucd-store/test/file-operations/file-tree.test.ts
Labels: pkg: ucd-store

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schemas":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**

"pkg: path-utils":
  - changed-files:
      - any-glob-to-any-file: packages/path-utils/**

"pkg: fs-bridge":
  - changed-files:
      - any-glob-to-any-file: packages/fs-bridge/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: shared":
  - changed-files:
      - any-glob-to-any-file: packages/shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: web":
  - changed-files:
      - any-glob-to-any-file: apps/web/**
