Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

chore(vscode): remove unused script and update dependencies
  vscode/package.json
  vscode/src/lib/files.ts
  vscode/turbo.json
Labels: none

chore(vscode): add build script for vscode
  package.json
  vscode/.gitignore
Labels: none

feat(vscode): update README and package.json for new configurations
  patches/vscode-ext-gen@1.1.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vscode/README.md
  vscode/package.json
Labels: none

fix(vscode): restore globalFilters assignment in createStoreFromConfig
  vscode/src/composables/useUCDStore.ts
Labels: none

chore(ci): update build steps in CI workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
  package.json
Labels: none

feat(turbo): add outputs for ext:gen task
  vscode/turbo.json
Labels: none

chore: test deps
  pnpm-lock.yaml
  vscode/package.json
Labels: none

chore(vscode): update vscode-ext-gen to version 1.2.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/fs-bridge/package.json
  packages/path-utils/package.json
  packages/schema-gen/package.json
  packages/schemas/package.json
  packages/shared/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/moonbeam/package.json
  tooling/test-utils/package.json
  tooling/tsconfig/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

chore: update dependencies
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/fs-bridge/package.json
  packages/path-utils/package.json
  packages/schema-gen/package.json
  packages/schemas/package.json
  packages/shared/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/moonbeam/package.json
  tooling/test-utils/package.json
  tooling/tsconfig/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update devDependencies to use 'catalog:types'
  package.json
  packages/cli/package.json
  packages/fetch/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli, pkg: fetch, pkg: shared

chore: update devDependencies to use 'catalog:types'
  package.json
  packages/cli/package.json
  packages/fetch/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli, pkg: fetch, pkg: shared

fix build
  tooling/test-utils/turbo.json
Labels: none

fix build
  tooling/test-utils/turbo.json
Labels: none

chore: experiment with removing test-utils from root pkg
  package.json
  pnpm-lock.yaml
  tooling/test-utils/turbo.json
  vitest.config.ts
Labels: none

revert
  package.json
  pnpm-lock.yaml
Labels: none

feat(schemas): add UnicodeTreeNode and UnicodeTree schemas
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/schemas.ts
  packages/schemas/src/index.ts
  packages/schemas/src/unicode.ts
Labels: pkg: schemas, apps: api

feat(schemas): add UnicodeTreeNode and UnicodeTree schemas
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/schemas.ts
  packages/schemas/src/index.ts
  packages/schemas/src/unicode.ts
Labels: pkg: schemas, apps: api

feat(fetch, schemas): add dependency on @ucdjs/schemas and update UnicodeTreeNode schema
  packages/fetch/package.json
  packages/fetch/src/components.ts
  packages/schemas/src/unicode.ts
  pnpm-lock.yaml
Labels: pkg: fetch, pkg: schemas

feat(fetch, schemas): add dependency on @ucdjs/schemas and update UnicodeTreeNode schema
  packages/fetch/package.json
  packages/fetch/src/components.ts
  packages/schemas/src/unicode.ts
  pnpm-lock.yaml
Labels: pkg: fetch, pkg: schemas

chore: remove generate components from fetch
  packages/fetch/package.json
  packages/fetch/scripts/extract-components.ts
  packages/fetch/src/components.ts
  packages/fetch/src/index.ts
  packages/fetch/turbo.json
  pnpm-lock.yaml
Labels: pkg: fetch

chore: remove generate components from fetch
  packages/fetch/package.json
  packages/fetch/scripts/extract-components.ts
  packages/fetch/src/components.ts
  packages/fetch/src/index.ts
  packages/fetch/turbo.json
  pnpm-lock.yaml
Labels: pkg: fetch

chore: fix
  tooling/test-utils/src/store.ts
Labels: none

chore: fix
  tooling/test-utils/src/store.ts
Labels: none

chore: fix
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/internal/files.test.ts
  packages/ucd-store/test/maintenance/analyze.test.ts
Labels: pkg: ucd-store

chore: fix
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/internal/files.test.ts
  packages/ucd-store/test/maintenance/analyze.test.ts
Labels: pkg: ucd-store

chore: update wrangler types
  apps/api/wrangler-types.d.ts
  apps/web/worker/wrangler-types.d.ts
Labels: apps: api, apps: web

chore: update wrangler types
  apps/api/wrangler-types.d.ts
  apps/web/worker/wrangler-types.d.ts
Labels: apps: api, apps: web

chore: update test-utils package and refactor msw integration
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/test-utils/package.json
  tooling/test-utils/src/msw.ts
  vitest.config.ts
Labels: none

chore: update test-utils package and refactor msw integration
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/test-utils/package.json
  tooling/test-utils/src/msw.ts
  vitest.config.ts
Labels: none

chore: cleanup
  tooling/test-utils/src/msw.ts
Labels: none

chore: cleanup
  tooling/test-utils/src/msw.ts
Labels: none

chore: add JSDoc comments for workspace functions
  tooling/moonbeam/src/esm-loader.mjs
Labels: none

chore: add JSDoc comments for workspace functions
  tooling/moonbeam/src/esm-loader.mjs
Labels: none

chore: add launch and tasks configuration files for VSCode
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

chore: add launch and tasks configuration files for VSCode
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

chore(vscode): update extension recommendations and add new command for package.json
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

chore(vscode): update extension recommendations and add new command for package.json
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schemas":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**

"pkg: path-utils":
  - changed-files:
      - any-glob-to-any-file: packages/path-utils/**

"pkg: fs-bridge":
  - changed-files:
      - any-glob-to-any-file: packages/fs-bridge/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: shared":
  - changed-files:
      - any-glob-to-any-file: packages/shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: web":
  - changed-files:
      - any-glob-to-any-file: apps/web/**
