Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: utils, pkg: schema-gen, pkg: ucd-store

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

feat: add new vfs module
  packages/utils/package.json
  packages/utils/src/memfs.ts
  packages/utils/test/memfs.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: utils

feat: add new vfs module
  packages/utils/package.json
  packages/utils/src/memfs.ts
  packages/utils/test/memfs.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: utils

chore: add more tests
  packages/utils/test/memfs.test.ts
Labels: pkg: utils

chore: add changeset
  .changeset/green-lamps-jump.md
Labels: none

chore: add more tests
  packages/utils/test/memfs.test.ts
Labels: pkg: utils

chore: apply coderabbit suggestion
  packages/utils/test/memfs.test.ts
Labels: pkg: utils

chore: apply coderabbit suggestion
  packages/utils/src/memfs.ts
Labels: pkg: utils

chore: apply coderabbit suggestion
  packages/utils/src/memfs.ts
Labels: pkg: utils

chore: apply coderabbit suggestion
  packages/utils/test/memfs.test.ts
Labels: pkg: utils

chore: add changeset
  .changeset/green-lamps-jump.md
Labels: none

chore: refactor file system adapter and update exports
  packages/utils/package.json
  packages/utils/src/memfs-node.ts
  packages/utils/src/types.ts
  packages/utils/src/ucd-files.ts
  packages/utils/src/ucd-files/fs-adapter.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/ucd-files/fs-adapter.test.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils

chore: apply coderabbit suggestion
  packages/utils/src/memfs.ts
Labels: pkg: utils

chore: refactor FSAdapter methods and improve type definitions
  packages/utils/src/memfs-node.ts
  packages/utils/src/memfs.ts
  packages/utils/src/types.ts
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/memfs.test.ts
  packages/utils/test/ucd-files/mirror.test.ts
  packages/utils/test/ucd-files/validate.test.ts
Labels: pkg: utils

chore: refactor FSAdapter methods and improve type definitions
  packages/utils/src/memfs-node.ts
  packages/utils/src/memfs.ts
  packages/utils/src/types.ts
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/memfs.test.ts
  packages/utils/test/ucd-files/mirror.test.ts
  packages/utils/test/ucd-files/validate.test.ts
Labels: pkg: utils

chore: apply coderabbit suggestion
  packages/utils/src/memfs.ts
  packages/utils/test/memfs.test.ts
Labels: pkg: utils

chore: apply coderabbit suggestion
  packages/utils/src/memfs.ts
Labels: pkg: utils

chore: refactor file system adapter and update exports
  packages/utils/package.json
  packages/utils/src/memfs-node.ts
  packages/utils/src/types.ts
  packages/utils/src/ucd-files.ts
  packages/utils/src/ucd-files/fs-adapter.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/ucd-files/fs-adapter.test.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils

chore: apply coderabbit suggestion
  .changeset/green-lamps-jump.md
Labels: none

chore: apply coderabbit suggestion
  packages/utils/src/memfs.ts
  packages/utils/test/memfs.test.ts
Labels: pkg: utils

chore: apply coderabbit suggestion
  .changeset/green-lamps-jump.md
Labels: none

chore: fix typecheck
  packages/ucd-store/src/local.ts
Labels: pkg: ucd-store

chore: refactor createFileSystem and improve Node.js adapter handling
  packages/utils/src/memfs.ts
Labels: pkg: utils

chore: remove deprecated memfs-node adapter and update file system handling
  packages/utils/package.json
  packages/utils/src/memfs-node.ts
  packages/utils/src/memfs.ts
  packages/utils/src/ucd-files.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/memfs.test.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils

chore: enhance type definitions for ensureDir, mkdir, stat, and rm methods in FSAdapter
  packages/utils/src/memfs.ts
Labels: pkg: utils

chore: fix typecheck
  packages/ucd-store/src/local.ts
Labels: pkg: ucd-store

chore: lint
  packages/utils/test/memfs.test.ts
Labels: pkg: utils

chore: enhance type definitions for ensureDir, mkdir, stat, and rm methods in FSAdapter
  packages/utils/src/memfs.ts
Labels: pkg: utils

chore: refactor createFileSystem and improve Node.js adapter handling
  packages/utils/src/memfs.ts
Labels: pkg: utils

chore: remove deprecated memfs-node adapter and update file system handling
  packages/utils/package.json
  packages/utils/src/memfs-node.ts
  packages/utils/src/memfs.ts
  packages/utils/src/ucd-files.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/memfs.test.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils

chore: lint
  packages/utils/test/memfs.test.ts
Labels: pkg: utils

chore: fix imports
  packages/ucd-store/src/local.ts
  tooling/tsconfig/base.json
Labels: pkg: ucd-store

chore: fix imports
  packages/ucd-store/src/local.ts
  tooling/tsconfig/base.json
Labels: pkg: ucd-store

Update dependencies and fix unicode-utils API usage
  package.json
  pnpm-lock.yaml
  src/routes/v1_unicode-versions.ts
Labels: none

Update dependencies and fix unicode-utils API usage
  package.json
  pnpm-lock.yaml
  src/routes/v1_unicode-versions.ts
Labels: none

chore: fix definitions
  worker-configuration.d.ts
Labels: none

chore: fix definitions
  worker-configuration.d.ts
Labels: none

fix: remove unnecessary remote bindings from dev script
  package.json
Labels: none

fix: remove unnecessary remote bindings from dev script
  package.json
Labels: none

feat: add new fs impl
  packages/utils/package.json
  packages/utils/src/fs-bridge.ts
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils

feat: add new fs impl
  packages/utils/package.json
  packages/utils/src/fs-bridge.ts
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils
