Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**

test: remove obsolete HTTP and Node file system bridge tests
  packages/utils/test/fs-bridge/http.test.ts
  packages/utils/test/fs-bridge/node.test.ts
Labels: pkg: utils

test: remove obsolete HTTP and Node file system bridge tests
  packages/utils/test/fs-bridge/http.test.ts
  packages/utils/test/fs-bridge/node.test.ts
Labels: pkg: utils

refactor(fs-bridge): simplify interface and enhance type safety
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

refactor(fs-bridge): simplify interface and enhance type safety
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

refactor(fs-bridge): enhance HTTP and Node file system bridge implementations
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
Labels: pkg: utils

refactor(fs-bridge): enhance HTTP and Node file system bridge implementations
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
Labels: pkg: utils

refactor(fs-bridge): improve type safety and structure of file system bridge interfaces
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

refactor(fs-bridge): improve type safety and structure of file system bridge interfaces
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

refactor(fs-bridge): enhance type safety in FileSystemBridge interfaces
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

refactor(fs-bridge): enhance type safety in FileSystemBridge interfaces
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

test(fs-bridge): add comprehensive tests for defineFileSystemBridge
  packages/utils/test/fs-bridge.test.ts
Labels: pkg: utils

test(fs-bridge): add comprehensive tests for defineFileSystemBridge
  packages/utils/test/fs-bridge.test.ts
Labels: pkg: utils

refactor(fs-bridge): remove unused `getSupportedBridgeCapabilities` function
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

refactor(fs-bridge): remove unused `getSupportedBridgeCapabilities` function
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

refactor(fs-bridge): enhance write operation to create parent directories
  packages/utils/src/fs-bridge/node.ts
  packages/utils/test/fs-bridge/node.test.ts
Labels: pkg: utils

refactor(fs-bridge): enhance write operation to create parent directories
  packages/utils/src/fs-bridge/node.ts
  packages/utils/test/fs-bridge/node.test.ts
Labels: pkg: utils

test(fs-bridge): add comprehensive tests for HTTPFileSystemBridge operations
  packages/utils/test/fs-bridge/http.test.ts
Labels: pkg: utils

test(fs-bridge): add comprehensive tests for HTTPFileSystemBridge operations
  packages/utils/test/fs-bridge/http.test.ts
Labels: pkg: utils

chore: remove ucd store functionality, will add back in #132
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/ucd-store/src/ucd-files/mirror.ts
  packages/ucd-store/src/ucd-files/validate.ts
  packages/ucd-store/test/ucd-files/mirror.test.ts
  packages/ucd-store/test/ucd-files/validate.test.ts
  tooling/tsconfig/base.json
Labels: pkg: ucd-store

chore: remove ucd store functionality, will add back in #132
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/ucd-store/src/ucd-files/mirror.ts
  packages/ucd-store/src/ucd-files/validate.ts
  packages/ucd-store/test/ucd-files/mirror.test.ts
  packages/ucd-store/test/ucd-files/validate.test.ts
  tooling/tsconfig/base.json
Labels: pkg: ucd-store

refactor(cli): clean up unused code and imports
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/status.ts
Labels: pkg: cli

refactor(cli): clean up unused code and imports
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/status.ts
Labels: pkg: cli

chore: lint
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/status.ts
  packages/ucd-store/package.json
Labels: pkg: cli, pkg: ucd-store

chore: lint
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/status.ts
  packages/ucd-store/package.json
Labels: pkg: cli, pkg: ucd-store

refactor(fs-bridge): update listdir return type to FSEntry[]
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

refactor(fs-bridge): update listdir return type to FSEntry[]
  packages/utils/src/fs-bridge.ts
Labels: pkg: utils

chore: dump
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
Labels: pkg: utils

chore: dump
  packages/utils/src/fs-bridge/http.ts
  packages/utils/src/fs-bridge/node.ts
Labels: pkg: utils

chore: remove verify-deploy script and related command
  apps/proxy/package.json
  apps/proxy/scripts/verify-deploy.ts
Labels: apps: proxy

chore: remove verify-deploy script and related command
  apps/proxy/package.json
  apps/proxy/scripts/verify-deploy.ts
Labels: apps: proxy

chore: remove unused type
  apps/proxy/src/index.ts
Labels: apps: proxy

chore: remove unused type
  apps/proxy/src/index.ts
Labels: apps: proxy

feat(worker-shared): implement CORS and rate limiting middleware for Hono application
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared

feat(worker-shared): implement CORS and rate limiting middleware for Hono application
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared

feat(worker-shared): export rate limiting setup function
  packages/worker-shared/src/index.ts
Labels: pkg: worker-shared

feat(worker-shared): export rate limiting setup function
  packages/worker-shared/src/index.ts
Labels: pkg: worker-shared

chore: add rate limiting setup to application
  apps/api/src/index.ts
  apps/proxy/src/index.ts
Labels: apps: api, apps: proxy

chore: add rate limiting setup to application
  apps/api/src/index.ts
  apps/proxy/src/index.ts
Labels: apps: api, apps: proxy

chore: lint
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared

chore: lint
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared
