Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: utils, pkg: fetch, pkg: schema-gen, pkg: worker-shared, pkg: ucd-store, pkg: env, apps: api, apps: proxy

refactor(worker-shared): remove `requiredEnv` function and associated tests
  packages/worker-shared/src/env.ts
  packages/worker-shared/src/index.ts
  packages/worker-shared/test/env.test.ts
Labels: pkg: worker-shared

refactor(worker-shared): remove `requiredEnv` function and associated tests
  packages/worker-shared/src/env.ts
  packages/worker-shared/src/index.ts
  packages/worker-shared/test/env.test.ts
Labels: pkg: worker-shared

chore: add changeset
  .changeset/fluffy-jokes-rush.md
Labels: none

chore: add changeset
  .changeset/fluffy-jokes-rush.md
Labels: none

chore: fix
  packages/utils/package.json
Labels: pkg: utils

chore: fix
  packages/utils/package.json
Labels: pkg: utils

chore: lint
  packages/worker-shared/test/setups.test.ts
Labels: pkg: worker-shared

chore: lint
  packages/worker-shared/test/setups.test.ts
Labels: pkg: worker-shared

chore: fix dependency
  packages/ucd-store/package.json
  packages/ucd-store/src/store.ts
  pnpm-lock.yaml
Labels: pkg: ucd-store

chore: fix dependency
  packages/ucd-store/package.json
  packages/ucd-store/src/store.ts
  pnpm-lock.yaml
Labels: pkg: ucd-store

Update store.test.ts
  packages/ucd-store/test/store.test.ts
Labels: pkg: ucd-store

Update store.test.ts
  packages/ucd-store/test/store.test.ts
Labels: pkg: ucd-store

Update lib.ts
  apps/proxy/src/lib.ts
Labels: apps: proxy

Update lib.ts
  apps/proxy/src/lib.ts
Labels: apps: proxy

feat: add build scripts for workers and update dependencies
  .github/workflows/ci.yaml
  .github/workflows/deploy-preview.yaml
  .github/workflows/deploy.yaml
  apps/api/package.json
  apps/api/tsconfig.build.json
  apps/proxy/package.json
  apps/proxy/pnpm-lock.yaml
  apps/proxy/tsconfig.build.json
  package.json
  pnpm-lock.yaml
  tooling/tsconfig/base.json
Labels: apps: api, apps: proxy

feat: add build scripts for workers and update dependencies
  .github/workflows/ci.yaml
  .github/workflows/deploy-preview.yaml
  .github/workflows/deploy.yaml
  apps/api/package.json
  apps/api/tsconfig.build.json
  apps/proxy/package.json
  apps/proxy/pnpm-lock.yaml
  apps/proxy/tsconfig.build.json
  package.json
  pnpm-lock.yaml
  tooling/tsconfig/base.json
Labels: apps: api, apps: proxy

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**
