Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: utils, pkg: codegen

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**

"pkg: codegen":
  - changed-files:
      - any-glob-to-any-file: packages/codegen/**

chore: add changeset
  .changeset/ninety-bears-hug.md
Labels: none

chore: add changeset
  .changeset/ninety-bears-hug.md
Labels: none

feat: add dependencies for OpenAI SDK and Zod in codegen package
  packages/codegen/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: codegen

feat: add dependencies for OpenAI SDK and Zod in codegen package
  packages/codegen/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: codegen

feat: implement generateFields function for TypeScript code generation
  packages/codegen/src/fields.ts
  packages/codegen/src/index.ts
Labels: pkg: codegen

feat: implement generateFields function for TypeScript code generation
  packages/codegen/src/fields.ts
  packages/codegen/src/index.ts
Labels: pkg: codegen

chore: lint
  packages/cli/src/cmd/codegen/fields.ts
Labels: pkg: cli

chore: lint
  packages/cli/src/cmd/codegen/fields.ts
Labels: pkg: cli
