Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

chore: add changeset
  .changeset/cute-trams-clap.md
Labels: none

chore: add changeset
  .changeset/cute-trams-clap.md
Labels: none

feat(api): augment RouteConfig for type-safe tags
  apps/api/openapi.d.ts
  apps/api/package.json
  apps/api/src/openapi.ts
  pnpm-lock.yaml
Labels: apps: api

feat(api): augment RouteConfig for type-safe tags
  apps/api/openapi.d.ts
  apps/api/package.json
  apps/api/src/openapi.ts
  pnpm-lock.yaml
Labels: apps: api

chore(deps): update @asteasolutions/zod-to-openapi to catalog:dev
  apps/api/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps: api

chore(deps): update @asteasolutions/zod-to-openapi to catalog:dev
  apps/api/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps: api

chore: add bug report and feature request templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

chore: add bug report and feature request templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

chore: add pull request template for better contribution guidelines
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore: add pull request template for better contribution guidelines
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

refactor(api): simplify OpenAPI tags management
  apps/api/src/openapi.ts
Labels: apps: api

refactor(api): simplify OpenAPI tags management
  apps/api/src/openapi.ts
Labels: apps: api

refactor(api): remove unused OpenAPI type definitions and dependencies
  apps/api/openapi.d.ts
  apps/api/package.json
  apps/api/tsconfig.json
  patches/@hono__zod-openapi.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps: api

refactor(api): remove unused OpenAPI type definitions and dependencies
  apps/api/openapi.d.ts
  apps/api/package.json
  apps/api/tsconfig.json
  patches/@hono__zod-openapi.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps: api

refactor(api): update tag names for consistency
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
Labels: apps: api

refactor(api): update tag names for consistency
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
Labels: apps: api

refactor(api): standardize OpenAPI tag names and remove unused patch
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-versions.openapi.ts
  apps/api/tsconfig.json
  patches/@hono__zod-openapi.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps: api

refactor(api): standardize OpenAPI tag names and remove unused patch
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-versions.openapi.ts
  apps/api/tsconfig.json
  patches/@hono__zod-openapi.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps: api

feat(eslint-plugin): add initial ESLint plugin structure
  apps/api/package.json
  apps/proxy/package.json
  pnpm-lock.yaml
  tooling/eslint-plugin/eslint.config.js
  tooling/eslint-plugin/package.json
  tooling/eslint-plugin/src/plugin.ts
  tooling/eslint-plugin/tsconfig.json
Labels: apps: api, apps: proxy

feat(eslint-plugin): add initial ESLint plugin structure
  apps/api/package.json
  apps/proxy/package.json
  pnpm-lock.yaml
  tooling/eslint-plugin/eslint.config.js
  tooling/eslint-plugin/package.json
  tooling/eslint-plugin/src/plugin.ts
  tooling/eslint-plugin/tsconfig.json
Labels: apps: api, apps: proxy

feat(eslint-plugin): add no-hardcoded-openapi-tags rule and update plugin structure
  apps/api/eslint.config.js
  apps/api/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-plugin/package.json
  tooling/eslint-plugin/src/plugin.js
  tooling/eslint-plugin/src/plugin.ts
  tooling/eslint-plugin/src/rules/no-hardcoded-openapi-tags.js
  tooling/eslint-plugin/tsconfig.json
Labels: apps: api

feat(eslint-plugin): add no-hardcoded-openapi-tags rule and update plugin structure
  apps/api/eslint.config.js
  apps/api/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-plugin/package.json
  tooling/eslint-plugin/src/plugin.js
  tooling/eslint-plugin/src/plugin.ts
  tooling/eslint-plugin/src/rules/no-hardcoded-openapi-tags.js
  tooling/eslint-plugin/tsconfig.json
Labels: apps: api

fix(eslint-plugin): update message ID and improve validation logic
  tooling/eslint-plugin/src/plugin.js
  tooling/eslint-plugin/src/rules/no-hardcoded-openapi-tags.js
Labels: none

fix(eslint-plugin): update message ID and improve validation logic
  tooling/eslint-plugin/src/plugin.js
  tooling/eslint-plugin/src/rules/no-hardcoded-openapi-tags.js
Labels: none

feat(eslint-plugin): add no-hardcoded-urls-in-test rule and update plugin structure
  tooling/eslint-plugin/src/plugin.js
  tooling/eslint-plugin/src/rules/no-hardcoded-openapi-tags.js
  tooling/eslint-plugin/src/rules/no-hardcoded-urls-in-test.js
Labels: none

feat(eslint-plugin): add no-hardcoded-urls-in-test rule and update plugin structure
  tooling/eslint-plugin/src/plugin.js
  tooling/eslint-plugin/src/rules/no-hardcoded-openapi-tags.js
  tooling/eslint-plugin/src/rules/no-hardcoded-urls-in-test.js
Labels: none

fix(api): update GET_UNICODE_MAPPINGS to use OPENAPI_TAGS constant
  apps/api/src/routes/v1_unicode-versions.openapi.ts
Labels: apps: api

fix(api): update GET_UNICODE_MAPPINGS to use OPENAPI_TAGS constant
  apps/api/src/routes/v1_unicode-versions.openapi.ts
Labels: apps: api

fix(eslint-plugin): remove no-hardcoded-urls-in-test rule and update plugin structure
  apps/api/eslint.config.js
  pnpm-lock.yaml
  tooling/eslint-plugin/src/plugin.js
  tooling/eslint-plugin/src/rules/no-hardcoded-urls-in-test.js
Labels: apps: api

fix(eslint-plugin): remove no-hardcoded-urls-in-test rule and update plugin structure
  apps/api/eslint.config.js
  pnpm-lock.yaml
  tooling/eslint-plugin/src/plugin.js
  tooling/eslint-plugin/src/rules/no-hardcoded-urls-in-test.js
Labels: apps: api

fix(nvm): update Node.js version from 22.14 to 22.17
  .nvmrc
Labels: none

fix(nvm): update Node.js version from 22.14 to 22.17
  .nvmrc
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: fix
  apps/api/eslint.config.js
Labels: apps: api

chore: fix
  apps/api/eslint.config.js
Labels: apps: api

fix(worker-shared): remove unused path property from ApiErrorSchema
  packages/worker-shared/src/schemas.ts
Labels: pkg: worker-shared

fix(worker-shared): remove unused path property from ApiErrorSchema
  packages/worker-shared/src/schemas.ts
Labels: pkg: worker-shared

fix(worker-shared): remove 'path' property from ResponseOptions and related functions
  packages/worker-shared/src/errors.ts
Labels: pkg: worker-shared

fix(worker-shared): remove 'path' property from ResponseOptions and related functions
  packages/worker-shared/src/errors.ts
Labels: pkg: worker-shared

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**
