Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**

chore(api): remove unused ApiErrorSchema imports from Unicode routes
  apps/api/src/routes/v1_files.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-versions.openapi.ts
Labels: apps: api

chore(api): remove unused ApiErrorSchema imports from Unicode routes
  apps/api/src/routes/v1_files.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-versions.openapi.ts
Labels: apps: api

feat(worker-shared): enhance error handling in createResponseComponentBuilder
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

feat(worker-shared): enhance error handling in createResponseComponentBuilder
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

fix(fetch): remove duplicate export of ApiError type
  packages/fetch/src/components.ts
Labels: pkg: fetch

fix(fetch): remove duplicate export of ApiError type
  packages/fetch/src/components.ts
Labels: pkg: fetch

fix(api): enhance generateReferences output type
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

fix(api): enhance generateReferences output type
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

fix(worker-shared): remove redundant type declaration in generateReferences output
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

fix(worker-shared): remove redundant type declaration in generateReferences output
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

fix(openapi): improve type definitions and validation for response components
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

fix(openapi): improve type definitions and validation for response components
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

fix(worker-shared): enhance type safety for registerApp method
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

fix(worker-shared): enhance type safety for registerApp method
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

fix(worker-shared): enhance type safety for generateReferences method
  apps/api/src/openapi.ts
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared, apps: api

fix(worker-shared): enhance type safety for generateReferences method
  apps/api/src/openapi.ts
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared, apps: api

test(worker-shared): add comprehensive tests for createResponseComponentBuilder
  packages/worker-shared/test/openapi.test.ts
Labels: pkg: worker-shared

test(worker-shared): add comprehensive tests for createResponseComponentBuilder
  packages/worker-shared/test/openapi.test.ts
Labels: pkg: worker-shared

fix(api): update layout to modern for Scalar component
  apps/api/src/index.ts
Labels: apps: api

fix(api): update layout to modern for Scalar component
  apps/api/src/index.ts
Labels: apps: api

fix(proxy): align response with description
  apps/proxy/src/index.ts
Labels: apps: proxy

fix(proxy): align response with description
  apps/proxy/src/index.ts
Labels: apps: proxy

fix(api): update proxy endpoint description for clarity
  apps/api/src/openapi.ts
Labels: apps: api

fix(api): update proxy endpoint description for clarity
  apps/api/src/openapi.ts
Labels: apps: api

fix(api): enhance Unicode proxy endpoint descriptions for clarity
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.schemas.ts
Labels: apps: api

fix(api): enhance Unicode proxy endpoint descriptions for clarity
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.schemas.ts
Labels: apps: api

fix(worker-shared): enhance ApiErrorSchema descriptions and add examples
  packages/worker-shared/src/openapi.ts
  packages/worker-shared/src/schemas.ts
Labels: pkg: worker-shared

fix(worker-shared): enhance ApiErrorSchema descriptions and add examples
  packages/worker-shared/src/openapi.ts
  packages/worker-shared/src/schemas.ts
Labels: pkg: worker-shared

chore(api): correct comment grammar for clarity
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

chore(api): correct comment grammar for clarity
  apps/api/src/routes/v1_unicode-proxy.ts
Labels: apps: api

fix(api): refactor ProxyMetadataSchema for clarity and structure
  apps/api/src/routes/v1_unicode-proxy.schemas.ts
Labels: apps: api

fix(api): refactor ProxyMetadataSchema for clarity and structure
  apps/api/src/routes/v1_unicode-proxy.schemas.ts
Labels: apps: api

fix(api): add missing export for ProxyMetadata type
  packages/fetch/src/components.ts
  packages/worker-shared/test/openapi.test.ts
Labels: pkg: fetch, pkg: worker-shared

fix(api): add missing export for ProxyMetadata type
  packages/fetch/src/components.ts
  packages/worker-shared/test/openapi.test.ts
Labels: pkg: fetch, pkg: worker-shared

chore: lint
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
Labels: apps: api

chore: lint
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
Labels: apps: api

docs(api): enhance GET_UNICODE_FILES_BY_VERSION_ROUTE documentation
  apps/api/src/routes/v1_files.openapi.ts
Labels: apps: api

docs(api): enhance GET_UNICODE_FILES_BY_VERSION_ROUTE documentation
  apps/api/src/routes/v1_files.openapi.ts
Labels: apps: api

refactor(api): consolidate Unicode version routes and schemas
  apps/api/src/index.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-releases.ts
  apps/api/src/routes/v1_unicode-versions.openapi.ts
  apps/api/src/routes/v1_unicode-versions.schemas.ts
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
Labels: apps: api

refactor(api): consolidate Unicode version routes and schemas
  apps/api/src/index.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-releases.ts
  apps/api/src/routes/v1_unicode-versions.openapi.ts
  apps/api/src/routes/v1_unicode-versions.schemas.ts
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
Labels: apps: api
