Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: utils, pkg: schema-gen, pkg: ucd-store

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

feat: add optional proxy URL to MirrorOptions and internal functions
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/mirror.ts
Labels: pkg: utils

feat: add optional proxy URL to MirrorOptions and internal functions
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/mirror.ts
Labels: pkg: utils

refactor: migrate ucd-store to use utils
  packages/utils/src/ucd-files.ts
  packages/utils/src/ucd-files/helpers.ts
Labels: pkg: utils

refactor: migrate ucd-store to use utils
  packages/utils/src/ucd-files.ts
  packages/utils/src/ucd-files/helpers.ts
Labels: pkg: utils

refactor: replace internal flattening function with helper utility
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/validate.ts
Labels: pkg: utils

refactor: replace internal flattening function with helper utility
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/validate.ts
Labels: pkg: utils

refactor: replace internal flattenFilePaths method with utility function
  packages/ucd-store/src/remote.ts
  tooling/tsconfig/base.json
Labels: pkg: ucd-store

refactor: replace internal flattenFilePaths method with utility function
  packages/ucd-store/src/remote.ts
  tooling/tsconfig/base.json
Labels: pkg: ucd-store

chore: update @luxass/unicode-utils to version 0.12.0-beta.8 in lockfiles
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update @luxass/unicode-utils to version 0.12.0-beta.8 in lockfiles
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

refactor: remove FsInterface and related functions; update download logic to use buildUCDPath
  packages/ucd-store/src/download.ts
  packages/ucd-store/src/fs-interface.ts
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/remote.ts
  packages/utils/src/ucd-files/validate.ts
Labels: pkg: utils, pkg: ucd-store

refactor: remove FsInterface and related functions; update download logic to use buildUCDPath
  packages/ucd-store/src/download.ts
  packages/ucd-store/src/fs-interface.ts
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/remote.ts
  packages/utils/src/ucd-files/validate.ts
Labels: pkg: utils, pkg: ucd-store

refactor: remove deprecated FsInterface tests and related code; implement repairUCDFiles functionality with improved error handling and file downloading logic
  packages/ucd-store/test/download.fs.test.ts
  packages/ucd-store/test/fs-interface.test.ts
  packages/utils/src/ucd-files.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/ucd-files/dump._test.ts
  packages/utils/test/ucd-files/fs-adapter.test.ts
Labels: pkg: utils, pkg: ucd-store

refactor: remove deprecated FsInterface tests and related code; implement repairUCDFiles functionality with improved error handling and file downloading logic
  packages/ucd-store/test/download.fs.test.ts
  packages/ucd-store/test/fs-interface.test.ts
  packages/utils/src/ucd-files.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/ucd-files/dump._test.ts
  packages/utils/test/ucd-files/fs-adapter.test.ts
Labels: pkg: utils, pkg: ucd-store

chore: fix errors
  packages/ucd-store/src/local.ts
Labels: pkg: ucd-store

chore: fix errors
  packages/ucd-store/src/local.ts
Labels: pkg: ucd-store

chore: remove downloads cmd I will create a new PR which adds a new CLI for stores, that will be the new cli to use
  packages/cli/src/cmd/download.ts
  packages/cli/test/cmd/download.test.ts
  packages/ucd-store/src/download.ts
Labels: pkg: cli, pkg: ucd-store

chore: remove downloads cmd I will create a new PR which adds a new CLI for stores, that will be the new cli to use
  packages/cli/src/cmd/download.ts
  packages/cli/test/cmd/download.test.ts
  packages/ucd-store/src/download.ts
Labels: pkg: cli, pkg: ucd-store

chore: add changeset
  .changeset/happy-banks-happen.md
Labels: none

chore: add changeset
  .changeset/happy-banks-happen.md
Labels: none

refactor: remove download command support from CLI and related tests
  packages/cli/src/cli-utils.ts
  packages/cli/test/cli-utils.test.ts
Labels: pkg: cli

refactor: remove download command support from CLI and related tests
  packages/cli/src/cli-utils.ts
  packages/cli/test/cli-utils.test.ts
Labels: pkg: cli

chore: fix tests
  packages/ucd-store/src/remote.ts
Labels: pkg: ucd-store

chore: fix tests
  packages/ucd-store/src/remote.ts
Labels: pkg: ucd-store

chore: lint
  packages/utils/test/ucd-files/fs-adapter.test.ts
Labels: pkg: utils

chore: lint
  packages/utils/test/ucd-files/fs-adapter.test.ts
Labels: pkg: utils

feat: add store command
  packages/cli/src/cli-utils.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/root.ts
  packages/cli/test/cli-utils.test.ts
Labels: pkg: cli

chore: lint
  packages/cli/src/cmd/store/root.ts
Labels: pkg: cli

chore: add changeset
  .changeset/some-lights-post.md
Labels: none

feat: add store commands for clean, repair, status, and validate
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/root.ts
  packages/cli/src/cmd/store/status.ts
  packages/cli/src/cmd/store/validate.ts
Labels: pkg: cli

chore: add changeset
  .changeset/some-lights-post.md
Labels: none

chore: add changeset
  .changeset/some-lights-post.md
Labels: none

feat: add store command
  packages/cli/src/cli-utils.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/root.ts
  packages/cli/test/cli-utils.test.ts
Labels: pkg: cli

feat: add store command
  packages/cli/src/cli-utils.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/root.ts
  packages/cli/test/cli-utils.test.ts
Labels: pkg: cli

feat: implement shared flags and enhance store commands with clean, repair, and status functionalities
  packages/cli/src/cmd/store/_shared.ts
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/root.ts
  packages/cli/src/cmd/store/status.ts
  packages/cli/src/cmd/store/validate.ts
  packages/ucd-store/src/local.ts
  packages/ucd-store/src/remote.ts
  packages/ucd-store/src/store.ts
Labels: pkg: cli, pkg: ucd-store

chore: lint
  packages/cli/src/cmd/store/root.ts
Labels: pkg: cli

feat: implement shared flags and enhance store commands with clean, repair, and status functionalities
  packages/cli/src/cmd/store/_shared.ts
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/root.ts
  packages/cli/src/cmd/store/status.ts
  packages/cli/src/cmd/store/validate.ts
  packages/ucd-store/src/local.ts
  packages/ucd-store/src/remote.ts
  packages/ucd-store/src/store.ts
Labels: pkg: cli, pkg: ucd-store

feat: add store commands for clean, repair, status, and validate
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/root.ts
  packages/cli/src/cmd/store/status.ts
  packages/cli/src/cmd/store/validate.ts
Labels: pkg: cli

chore: lint
  packages/cli/src/cmd/store/root.ts
Labels: pkg: cli

feat: add store commands for clean, repair, status, and validate
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/root.ts
  packages/cli/src/cmd/store/status.ts
  packages/cli/src/cmd/store/validate.ts
Labels: pkg: cli
