Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**

feat(api): add RATE_LIMITER binding to unsafe configuration
  apps/api/wrangler.jsonc
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared, apps: api

feat(api): add RATE_LIMITER binding to unsafe configuration
  apps/api/wrangler.jsonc
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared, apps: api

chore: lint
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared

chore: lint
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared

feat(worker-shared): update rate limiting setup to require RATE_LIMITER binding
  apps/api/worker-configuration.d.ts
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared, apps: api

feat(worker-shared): update rate limiting setup to require RATE_LIMITER binding
  apps/api/worker-configuration.d.ts
  packages/worker-shared/src/setups.ts
Labels: pkg: worker-shared, apps: api

chore: remove unused deploy verification script
  apps/proxy/package.json
  apps/proxy/scripts/verify-deploy.ts
Labels: apps: proxy

chore: remove unused deploy verification script
  apps/proxy/package.json
  apps/proxy/scripts/verify-deploy.ts
Labels: apps: proxy

feat(proxy): implement entry middleware for path validation and error handling
  apps/proxy/src/entry-middleware.ts
  apps/proxy/src/index.ts
Labels: apps: proxy

feat(proxy): implement entry middleware for path validation and error handling
  apps/proxy/src/entry-middleware.ts
  apps/proxy/src/index.ts
Labels: apps: proxy

chore: experiment with testing
  apps/proxy/test/worker/index.test.ts
  apps/proxy/vitest.config.ts
  apps/proxy/vitest.worker.config.ts
  vitest.config.ts
Labels: apps: proxy

chore: experiment with testing
  apps/proxy/test/worker/index.test.ts
  apps/proxy/vitest.config.ts
  apps/proxy/vitest.worker.config.ts
  vitest.config.ts
Labels: apps: proxy

fix(entry-middleware): enhance path validation for entry retrieval
  apps/proxy/src/entry-middleware.ts
Labels: apps: proxy

fix(entry-middleware): enhance path validation for entry retrieval
  apps/proxy/src/entry-middleware.ts
Labels: apps: proxy

feat(proxy): enhance testing setup for proxy and api
  .github/workflows/deploy-preview.yaml
  .github/workflows/deploy.yaml
  apps/proxy/package.json
  apps/proxy/vitest.config.worker.ts
  vitest.config.ts
Labels: apps: proxy

feat(proxy): enhance testing setup for proxy and api
  .github/workflows/deploy-preview.yaml
  .github/workflows/deploy.yaml
  apps/proxy/package.json
  apps/proxy/vitest.config.worker.ts
  vitest.config.ts
Labels: apps: proxy

feat(api): refactor vitest configuration for unit and worker tests
  apps/api/vitest.config.ts
  apps/api/vitest.config.worker.ts
  vitest.config.ts
Labels: apps: api

feat(api): refactor vitest configuration for unit and worker tests
  apps/api/vitest.config.ts
  apps/api/vitest.config.worker.ts
  vitest.config.ts
Labels: apps: api

chore: lint
  apps/proxy/src/index.ts
Labels: apps: proxy

chore: lint
  apps/proxy/src/index.ts
Labels: apps: proxy

feat(vitest): update configuration for unit and worker tests
  apps/api/vitest.config.ts
  apps/api/vitest.config.worker.ts
  apps/proxy/vitest.config.ts
  apps/proxy/vitest.config.worker.ts
Labels: apps: api, apps: proxy

feat(vitest): update configuration for unit and worker tests
  apps/api/vitest.config.ts
  apps/api/vitest.config.worker.ts
  apps/proxy/vitest.config.ts
  apps/proxy/vitest.config.worker.ts
Labels: apps: api, apps: proxy

fix(workflows): update test commands to use quotes for project names
  .github/workflows/deploy-preview.yaml
  .github/workflows/deploy.yaml
Labels: none

fix(workflows): update test commands to use quotes for project names
  .github/workflows/deploy-preview.yaml
  .github/workflows/deploy.yaml
Labels: none

feat(tests): add unit tests for worker routes
  apps/api/test/worker/index.test.ts
  apps/api/test/worker/routes/v1_raw.test.ts
  apps/api/test/worker/routes/v1_versions.test.ts
Labels: apps: api

feat(tests): add unit tests for worker routes
  apps/api/test/worker/index.test.ts
  apps/api/test/worker/routes/v1_raw.test.ts
  apps/api/test/worker/routes/v1_versions.test.ts
Labels: apps: api

feat(vitest): update test include patterns for unit tests
  apps/api/vitest.config.ts
  apps/proxy/test/unit/index.test.ts
  apps/proxy/vitest.config.ts
  vitest.config.ts
Labels: apps: api, apps: proxy

feat(vitest): update test include patterns for unit tests
  apps/api/vitest.config.ts
  apps/proxy/test/unit/index.test.ts
  apps/proxy/vitest.config.ts
  vitest.config.ts
Labels: apps: api, apps: proxy

Add unit tests for API and proxy routes, update Vitest configurations
  apps/api/test/index.test.ts
  apps/api/test/routes/v1_raw.test.ts
  apps/api/test/routes/v1_versions.test.ts
  apps/api/vitest.config.ts
  apps/api/vitest.config.worker.ts
  apps/proxy/test/index.test.ts
  apps/proxy/test/unit/index.test.ts
  apps/proxy/vitest.config.ts
  apps/proxy/vitest.config.worker.ts
Labels: apps: api, apps: proxy

Add unit tests for API and proxy routes, update Vitest configurations
  apps/api/test/index.test.ts
  apps/api/test/routes/v1_raw.test.ts
  apps/api/test/routes/v1_versions.test.ts
  apps/api/vitest.config.ts
  apps/api/vitest.config.worker.ts
  apps/proxy/test/index.test.ts
  apps/proxy/test/unit/index.test.ts
  apps/proxy/vitest.config.ts
  apps/proxy/vitest.config.worker.ts
Labels: apps: api, apps: proxy

fix(tests): correct import paths for worker and schemas in test files
  apps/api/test/routes/v1_raw.test.ts
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

fix(tests): correct import paths for worker and schemas in test files
  apps/api/test/routes/v1_raw.test.ts
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

refactor(tests): remove obsolete Vitest configuration and test files
  apps/api/vitest.config.ts
  apps/proxy/test/unit/index.test.ts
  apps/proxy/test/unit/lib.test.ts
  apps/proxy/vitest.config.ts
  vitest.config.ts
Labels: apps: api, apps: proxy

refactor(tests): remove obsolete Vitest configuration and test files
  apps/api/vitest.config.ts
  apps/proxy/test/unit/index.test.ts
  apps/proxy/test/unit/lib.test.ts
  apps/proxy/vitest.config.ts
  vitest.config.ts
Labels: apps: api, apps: proxy

docs: enhance documentation for parseUnicodeDirectory function
  apps/proxy/src/lib.ts
Labels: apps: proxy

docs: enhance documentation for parseUnicodeDirectory function
  apps/proxy/src/lib.ts
Labels: apps: proxy

refactor(lib): improve type definitions and normalize path handling
  apps/proxy/src/lib.ts
  apps/proxy/test/unit/lib.test.ts
Labels: apps: proxy

refactor(lib): improve type definitions and normalize path handling
  apps/proxy/src/lib.ts
  apps/proxy/test/unit/lib.test.ts
Labels: apps: proxy

fix(lib): improve HTML file detection in getEntryByPath function
  apps/proxy/src/lib.ts
Labels: apps: proxy

fix(lib): improve HTML file detection in getEntryByPath function
  apps/proxy/src/lib.ts
Labels: apps: proxy
