Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: utils, pkg: schema-gen, pkg: ucd-store

refactor(store): streamline store initialization and manifest handling
  packages/ucd-store/src/store.ts
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils, pkg: ucd-store

refactor(store): streamline store initialization and manifest handling
  packages/ucd-store/src/store.ts
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils, pkg: ucd-store

refactor(store): update default base URL for remote store
  packages/ucd-store/src/store.ts
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils, pkg: ucd-store

refactor(store): update default base URL for remote store
  packages/ucd-store/src/store.ts
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils, pkg: ucd-store

feat(utils): add constants for Unicode and UCDJS API URLs
  packages/utils/package.json
  packages/utils/src/constants.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils

feat(utils): add constants for Unicode and UCDJS API URLs
  packages/utils/package.json
  packages/utils/src/constants.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils

chore: add changeset
  .changeset/three-corners-fly.md
Labels: none

chore: add changeset
  .changeset/three-corners-fly.md
Labels: none

fix(constants): handle process.env safely in constants file
  packages/utils/src/constants.ts
Labels: pkg: utils

fix(constants): handle process.env safely in constants file
  packages/utils/src/constants.ts
Labels: pkg: utils

fix(constants): update default Unicode API base URL
  packages/utils/src/constants.ts
Labels: pkg: utils

fix(constants): update default Unicode API base URL
  packages/utils/src/constants.ts
Labels: pkg: utils

fix(store): update default URLs to use constants
  packages/ucd-store/package.json
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/store.test.ts
  tooling/tsconfig/base.json
Labels: pkg: ucd-store

fix(store): update default URLs to use constants
  packages/ucd-store/package.json
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/store.test.ts
  tooling/tsconfig/base.json
Labels: pkg: ucd-store

feat: add ucd-store.json endpoint
  src/index.ts
Labels: none

feat(deploy-preview): enhance deployment URL handling and PR comment updates
  .github/workflows/deploy-preview.yaml
Labels: none

feat: implement endpoint for fetching valid Unicode versions
  src/index.ts
Labels: none

fix(cache): update cache settings for endpoints
  src/index.ts
Labels: none

fix: correct filtering logic for valid versions in .ucd-store.json endpoint
  src/index.ts
Labels: none

chore: lint
  .github/workflows/deploy-preview.yaml
Labels: none

chore(workflow): update permissions for deploy job
  .github/workflows/deploy-preview.yaml
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**
