Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: utils, pkg: schema-gen, pkg: ucd-store

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

feat(filter): enhance path filter functionality
  packages/utils/src/filter.ts
  packages/utils/src/index.ts
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
Labels: pkg: utils

feat(filter): enhance path filter functionality
  packages/utils/src/filter.ts
  packages/utils/src/index.ts
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
Labels: pkg: utils

test(utils): extend functionality to support dynamic filter patterns
  packages/utils/test/filter.test.ts
Labels: pkg: utils

test(utils): extend functionality to support dynamic filter patterns
  packages/utils/test/filter.test.ts
Labels: pkg: utils

chore: add changeset
  .changeset/light-plants-repair.md
Labels: none

chore: add changeset
  .changeset/light-plants-repair.md
Labels: none

test(utils): enhance custom pattern matching using createPathFilter
  packages/utils/test/ucd-files/mirror.test.ts
  packages/utils/test/ucd-files/validate.test.ts
Labels: pkg: utils

test(utils): enhance custom pattern matching using createPathFilter
  packages/utils/test/ucd-files/mirror.test.ts
  packages/utils/test/ucd-files/validate.test.ts
Labels: pkg: utils

refactor: remove local and remote UCD store implementations
  packages/ucd-store/src/local.ts
  packages/ucd-store/src/remote.ts
  packages/ucd-store/src/store.ts
  packages/utils/src/memfs.ts
  packages/utils/test/memfs.test.ts
  tooling/tsconfig/base.json
Labels: pkg: utils, pkg: ucd-store

refactor: remove local and remote UCD store implementations
  packages/ucd-store/src/local.ts
  packages/ucd-store/src/remote.ts
  packages/ucd-store/src/store.ts
  packages/utils/src/memfs.ts
  packages/utils/test/memfs.test.ts
  tooling/tsconfig/base.json
Labels: pkg: utils, pkg: ucd-store

refactor(store): replace `createUCDStore` with specific local and remote store creation functions
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/status.ts
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
Labels: pkg: cli, pkg: ucd-store

chore: lint
  packages/ucd-store/test/store.test.ts
Labels: pkg: ucd-store

refactor(store): unify UCDStore implementation and remove legacy classes
  packages/ucd-store/playgrounds/local-playground.ts
  packages/ucd-store/playgrounds/remote-playground.ts
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/local.test.ts
  packages/ucd-store/test/remote.test.ts
  packages/ucd-store/test/store.test.ts
  packages/utils/package.json
  packages/utils/src/types.ts
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/ucd-files/mirror.test.ts
  packages/utils/test/ucd-files/validate.test.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils, pkg: ucd-store

refactor(store): replace hardcoded URLs with constants and improve store initialization
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/local.test.ts
  packages/ucd-store/test/remote.test.ts
  packages/ucd-store/test/store.test.ts
  packages/utils/test/ucd-files/mirror.test.ts
Labels: pkg: utils, pkg: ucd-store

refactor(store): replace hardcoded URLs with constants and improve store initialization
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/local.test.ts
  packages/ucd-store/test/remote.test.ts
  packages/ucd-store/test/store.test.ts
  packages/utils/test/ucd-files/mirror.test.ts
Labels: pkg: utils, pkg: ucd-store

refactor(store): replace `createUCDStore` with specific local and remote store creation functions
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/status.ts
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
Labels: pkg: cli, pkg: ucd-store

refactor(store): unify UCDStore implementation and remove legacy classes
  packages/ucd-store/playgrounds/local-playground.ts
  packages/ucd-store/playgrounds/remote-playground.ts
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/local.test.ts
  packages/ucd-store/test/remote.test.ts
  packages/ucd-store/test/store.test.ts
  packages/utils/package.json
  packages/utils/src/types.ts
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
  packages/utils/test/ucd-files/mirror.test.ts
  packages/utils/test/ucd-files/validate.test.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils, pkg: ucd-store

chore: lint
  packages/ucd-store/test/store.test.ts
Labels: pkg: ucd-store

refactor(store): update filter type and enhance file retrieval methods
  packages/ucd-store/src/store.ts
  packages/utils/src/index.ts
Labels: pkg: utils, pkg: ucd-store

refactor(store): update filter type and enhance file retrieval methods
  packages/ucd-store/src/store.ts
  packages/utils/src/index.ts
Labels: pkg: utils, pkg: ucd-store

chore: add changeset
  .changeset/heavy-camels-sink.md
Labels: none

chore: add changeset
  .changeset/heavy-camels-sink.md
Labels: none

chore(utils): remove `fs-extra` dependency and update documentation
  packages/ucd-store/package.json
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: utils, pkg: ucd-store

chore(utils): remove `fs-extra` dependency and update documentation
  packages/ucd-store/package.json
  packages/utils/src/ucd-files/internal.ts
  packages/utils/src/ucd-files/mirror.ts
  packages/utils/src/ucd-files/validate.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: utils, pkg: ucd-store

refactor(store): simplify filter handling in file processing
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

refactor(store): simplify filter handling in file processing
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

chore: fix grammar
  .changeset/heavy-camels-sink.md
Labels: none

chore: fix grammar
  .changeset/heavy-camels-sink.md
Labels: none

refactor(utils): update `PathFilter` methods for improved filter management
  .changeset/light-plants-repair.md
  packages/ucd-store/src/store.ts
  packages/utils/src/filter.ts
  packages/utils/test/filter.test.ts
Labels: pkg: utils, pkg: ucd-store

refactor(utils): update `PathFilter` methods for improved filter management
  .changeset/light-plants-repair.md
  packages/ucd-store/src/store.ts
  packages/utils/src/filter.ts
  packages/utils/test/filter.test.ts
Labels: pkg: utils, pkg: ucd-store

feat(filter): enhance `PathFilterFn` to accept additional filters
  packages/utils/src/filter.ts
Labels: pkg: utils

feat(filter): enhance `PathFilterFn` to accept additional filters
  packages/utils/src/filter.ts
Labels: pkg: utils

test(filter): add support for `extraFilters` parameter in `createPathFilter`
  packages/utils/test/filter.test.ts
Labels: pkg: utils

test(filter): add support for `extraFilters` parameter in `createPathFilter`
  packages/utils/test/filter.test.ts
Labels: pkg: utils

chore: add changeset
  .changeset/yummy-women-sell.md
Labels: none

chore: add changeset
  .changeset/yummy-women-sell.md
Labels: none

refactor(store): simplify filter application in UCDStore
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

refactor(store): simplify filter application in UCDStore
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

feat(store): initialize UCDStore instances on creation
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

feat(store): initialize UCDStore instances on creation
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store
