Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schemas":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**

"pkg: path-utils":
  - changed-files:
      - any-glob-to-any-file: packages/path-utils/**

"pkg: fs-bridge":
  - changed-files:
      - any-glob-to-any-file: packages/fs-bridge/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: shared":
  - changed-files:
      - any-glob-to-any-file: packages/shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: web":
  - changed-files:
      - any-glob-to-any-file: apps/web/**

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update nvmrc
  .nvmrc
Labels: none

chore: update nvmrc
  .nvmrc
Labels: none

chore: remove unused dependency
  pnpm-workspace.yaml
Labels: none

chore: remove unused dependency
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: generated new wrangler types
  apps/api/wrangler-types.d.ts
  apps/web/worker/wrangler-types.d.ts
Labels: apps: api, apps: web

chore: generated new wrangler types
  apps/api/wrangler-types.d.ts
  apps/web/worker/wrangler-types.d.ts
Labels: apps: api, apps: web

chore: skip caching fetch auto-gen
  packages/fetch/turbo.json
Labels: pkg: fetch

chore: skip caching fetch auto-gen
  packages/fetch/turbo.json
Labels: pkg: fetch

chore: update CI configuration for OpenAPI workflow
  .github/workflows/ci.yml
  .github/workflows/openapi-artifact.yml
Labels: none

chore: update CI configuration for OpenAPI workflow
  .github/workflows/ci.yml
  .github/workflows/openapi-artifact.yml
Labels: none

chore: update workflow names and comments for clarity
  .github/workflows/deploy-preview.yml
  .github/workflows/openapi-artifact.yml
Labels: none

chore: update workflow names and comments for clarity
  .github/workflows/deploy-preview.yml
  .github/workflows/openapi-artifact.yml
Labels: none

chore: add write permissions for pull-requests in report-changes job
  .github/workflows/openapi-artifact.yml
Labels: none

chore: add write permissions for pull-requests in report-changes job
  .github/workflows/openapi-artifact.yml
Labels: none

chore: add SHA environment variable to deploy workflows
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
Labels: none

chore: add SHA environment variable to deploy workflows
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
Labels: none

chore: add OpenAPI schema comparison script
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

chore: add OpenAPI schema comparison script
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

chore: update OpenAPI comparison script and workflow
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

chore: update OpenAPI comparison script and workflow
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

chore: enhance detailed diff output formatting in OpenAPI comparison
  .github/scripts/compare-openapi.ts
Labels: none

chore: enhance detailed diff output formatting in OpenAPI comparison
  .github/scripts/compare-openapi.ts
Labels: none

chore: add breaking change detection and status check for OpenAPI schema
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

chore: add breaking change detection and status check for OpenAPI schema
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

chore: update permissions for report-changes job
  .github/workflows/openapi-artifact.yml
Labels: none

chore: update permissions for report-changes job
  .github/workflows/openapi-artifact.yml
Labels: none

chore: fix workflow job if
  .github/workflows/openapi-artifact.yml
Labels: none

chore: fix workflow job if
  .github/workflows/openapi-artifact.yml
Labels: none

chore: update OpenAPI comparison script and workflow
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

chore: update OpenAPI comparison script and workflow
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

chore: add approval reaction for breaking changes
  .github/workflows/openapi-approve.yml
  .github/workflows/openapi-artifact.yml
Labels: none

chore: add approval reaction for breaking changes
  .github/workflows/openapi-approve.yml
  .github/workflows/openapi-artifact.yml
Labels: none
