Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: utils, pkg: schema-gen

chore: apply coderabbit suggestions
  packages/schema-gen/src/fields.ts
Labels: pkg: schema-gen

chore: apply coderabbit suggestions
  packages/schema-gen/src/fields.ts
Labels: pkg: schema-gen

chore: update @luxass/utils to version 1.6.1 and add identifier sanitization in schema generation
  packages/schema-gen/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: schema-gen

chore: update @luxass/utils to version 1.6.1 and add identifier sanitization in schema generation
  packages/schema-gen/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: schema-gen

refactor: move esbuild and resolve configurations outside of workspace definitions
  vitest.config.ts
Labels: none

refactor: move esbuild and resolve configurations outside of workspace definitions
  vitest.config.ts
Labels: none

ci: speed up ci security
  .github/workflows/ci-security.yaml
Labels: none

ci: speed up ci security
  .github/workflows/ci-security.yaml
Labels: none

ci: add zizmor comment
  .github/workflows/lint-pr.yaml
Labels: none

ci: add zizmor comment
  .github/workflows/lint-pr.yaml
Labels: none

chore: update dependencies
  package.json
  packages/cli/package.json
  packages/schema-gen/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli, pkg: schema-gen

chore: update dependencies
  package.json
  packages/cli/package.json
  packages/schema-gen/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli, pkg: schema-gen

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Labels: none

refactor: simplify file mapping by using trimTrailingSlash function
  src/index.ts
Labels: none

feat: add ratelimit middleware
  src/index.ts
  worker-configuration.d.ts
  wrangler.jsonc
Labels: none

chore: fix namespace_id
  wrangler.jsonc
Labels: none

chore: move ratelimit middleware to be infront of cache
  src/index.ts
Labels: none

feat: increase ratelimit count to 2000/m
  wrangler.jsonc
Labels: none

feat!: remove generate cmd
  packages/cli/src/cli-utils.ts
  packages/cli/src/cmd/generate.ts
Labels: pkg: cli

feat!: remove generate cmd
  packages/cli/src/cli-utils.ts
  packages/cli/src/cmd/generate.ts
Labels: pkg: cli

chore: add changeset
  .changeset/fifty-eggs-exist.md
Labels: none

chore: add changeset
  .changeset/fifty-eggs-exist.md
Labels: none

feat: add download command and related functionality
  packages/cli/src/cli-utils.ts
  packages/cli/src/cmd/download.ts
  packages/cli/test/cli-utils.test.ts
  packages/cli/test/cmd/download.test.ts
Labels: pkg: cli

feat: add download command and related functionality
  packages/cli/src/cli-utils.ts
  packages/cli/src/cmd/download.ts
  packages/cli/test/cli-utils.test.ts
  packages/cli/test/cmd/download.test.ts
Labels: pkg: cli

feat: add micromatch and its types to dependencies
  packages/cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli

feat: add download command to CLI and update dependencies
  packages/cli/src/cmd/download.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli

feat: add download command to CLI and update dependencies
  packages/cli/src/cmd/download.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli

feat: add micromatch and its types to dependencies
  packages/cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: cli

test: enhance download command tests with file filtering and error handling
  packages/cli/src/cmd/download.ts
  packages/cli/test/cmd/download.test.ts
Labels: pkg: cli

feat: enhance download command with exclude patterns and debug options
  packages/cli/src/cmd/download.ts
Labels: pkg: cli

chore: add changeset
  .changeset/five-mugs-wash.md
Labels: none

chore: add changeset
  .changeset/five-mugs-wash.md
Labels: none

test: enhance download command tests with file filtering and error handling
  packages/cli/src/cmd/download.ts
  packages/cli/test/cmd/download.test.ts
Labels: pkg: cli

feat: enhance download command with exclude patterns and debug options
  packages/cli/src/cmd/download.ts
Labels: pkg: cli

fix: improve error handling in download command and update test for command resolution
  packages/cli/src/cmd/download.ts
  packages/cli/test/cli-utils.test.ts
Labels: pkg: cli

fix: improve error handling in download command and update test for command resolution
  packages/cli/src/cmd/download.ts
  packages/cli/test/cli-utils.test.ts
Labels: pkg: cli

feat: add support for excluding drafts
  packages/cli/src/cmd/download.ts
Labels: pkg: cli

feat: add support for excluding drafts
  packages/cli/src/cmd/download.ts
Labels: pkg: cli

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**
