Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

fix(proxy): remove path property from error handling responses
  apps/proxy/src/index.ts
Labels: apps: proxy

fix(proxy): remove path property from error handling responses
  apps/proxy/src/index.ts
Labels: apps: proxy

fix(api): remove 'path' property from error handling responses
  apps/api/src/index.ts
Labels: apps: api

fix(api): remove 'path' property from error handling responses
  apps/api/src/index.ts
Labels: apps: api

test(worker-shared): remove 'path' property from badRequest, forbidden, notFound, and internalServerError tests
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

test(worker-shared): remove 'path' property from badRequest, forbidden, notFound, and internalServerError tests
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

test(worker-shared): remove 'path' property from error response tests
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

test(worker-shared): remove 'path' property from error response tests
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

test(api): remove 'path' property from 404 response test
  apps/api/test/index.test.ts
Labels: apps: api

test(api): remove 'path' property from 404 response test
  apps/api/test/index.test.ts
Labels: apps: api

test(proxy): remove 'path' property from 404 response
  apps/proxy/test/index.test.ts
Labels: apps: proxy

test(proxy): remove 'path' property from 404 response
  apps/proxy/test/index.test.ts
Labels: apps: proxy

chore(worker-shared): remove all references to path
  packages/worker-shared/src/errors.ts
Labels: pkg: worker-shared

chore(worker-shared): remove all references to path
  packages/worker-shared/src/errors.ts
Labels: pkg: worker-shared

test(fetch): remove 'path' property from 404 and 500 error responses
  packages/fetch/test/index.test.ts
Labels: pkg: fetch

test(fetch): remove 'path' property from 404 and 500 error responses
  packages/fetch/test/index.test.ts
Labels: pkg: fetch

chore(worker-shared): update package.json to use source files
  packages/worker-shared/package.json
  packages/worker-shared/tsdown.config.ts
  pnpm-lock.yaml
Labels: pkg: worker-shared

chore(worker-shared): update package.json to use source files
  packages/worker-shared/package.json
  packages/worker-shared/tsdown.config.ts
  pnpm-lock.yaml
Labels: pkg: worker-shared

chore: add changeset
  .changeset/thin-houses-act.md
Labels: none

chore: add changeset
  .changeset/thin-houses-act.md
Labels: none

feat(worker-shared): implement centralized error handling
  apps/api/src/index.ts
  apps/proxy/src/index.ts
  packages/worker-shared/src/handlers.ts
  packages/worker-shared/src/index.ts
Labels: pkg: worker-shared, apps: api, apps: proxy

feat(worker-shared): implement centralized error handling
  apps/api/src/index.ts
  apps/proxy/src/index.ts
  packages/worker-shared/src/handlers.ts
  packages/worker-shared/src/index.ts
Labels: pkg: worker-shared, apps: api, apps: proxy

chore(ci): restructure CI workflow for improved caching and build steps
  .github/workflows/ci.yaml
Labels: none

chore(ci): restructure CI workflow for improved caching and build steps
  .github/workflows/ci.yaml
Labels: none

chore(ci): update caching strategy for pnpm
  .github/workflows/ci.yaml
Labels: none

chore(ci): update caching strategy for pnpm
  .github/workflows/ci.yaml
Labels: none

chore(ci): remove redundant setup job from CI workflow
  .github/workflows/ci.yaml
Labels: none

chore(ci): remove redundant setup job from CI workflow
  .github/workflows/ci.yaml
Labels: none

chore(ci): add build step to typecheck and test jobs
  .github/workflows/ci.yaml
Labels: none

chore(ci): add build step to typecheck and test jobs
  .github/workflows/ci.yaml
Labels: none

chore(ci): add build step to CI workflow
  .github/workflows/ci.yaml
Labels: none

chore(ci): add build step to CI workflow
  .github/workflows/ci.yaml
Labels: none

feat(worker-shared): add createResponseComponentBuilder function
  packages/worker-shared/src/index.ts
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

feat(worker-shared): add createResponseComponentBuilder function
  packages/worker-shared/src/index.ts
  packages/worker-shared/src/openapi.ts
Labels: pkg: worker-shared

feat(api): import createResponseComponentBuilder and initialize response components
  apps/api/src/openapi.ts
Labels: apps: api

feat(api): import createResponseComponentBuilder and initialize response components
  apps/api/src/openapi.ts
Labels: apps: api

feat(api): register app in OpenAPIHono instance
  apps/api/src/index.ts
Labels: apps: api

feat(api): register app in OpenAPIHono instance
  apps/api/src/index.ts
Labels: apps: api

feat(api): refactor error response handling using generateReferences
  apps/api/src/routes/v1_files.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-versions.openapi.ts
Labels: apps: api

feat(api): refactor error response handling using generateReferences
  apps/api/src/routes/v1_files.openapi.ts
  apps/api/src/routes/v1_unicode-proxy.openapi.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-versions.openapi.ts
Labels: apps: api

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**
