Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**

feat(api): add Unicode Releases endpoint and schema
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-releases.schemas.ts
  apps/api/src/routes/v1_unicode-releases.ts
  apps/proxy/package.json
Labels: apps: api, apps: proxy

feat(api): add Unicode Releases endpoint and schema
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-releases.schemas.ts
  apps/api/src/routes/v1_unicode-releases.ts
  apps/proxy/package.json
Labels: apps: api, apps: proxy

chore: lint
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-releases.ts
Labels: apps: api

chore: lint
  apps/api/src/routes/v1_unicode-releases.openapi.ts
  apps/api/src/routes/v1_unicode-releases.ts
Labels: apps: api

test(api): add tests for v1_unicode-releases endpoint
  apps/api/test/routes/v1_unicode-releases.test.ts
Labels: apps: api

test(api): add tests for v1_unicode-releases endpoint
  apps/api/test/routes/v1_unicode-releases.test.ts
Labels: apps: api

test(api): add tests for v1_unicode-proxy endpoint
  apps/api/test/routes/v1_unicode-proxy.test.ts
Labels: apps: api

test(api): add tests for v1_unicode-proxy endpoint
  apps/api/test/routes/v1_unicode-proxy.test.ts
Labels: apps: api

chore(tests): enable eslint rule for lowercase titles in test descriptions
  apps/api/test/routes/v1_files.test.ts
  apps/api/test/routes/v1_unicode-proxy.test.ts
  apps/api/test/routes/v1_unicode-releases.test.ts
Labels: apps: api

chore(tests): enable eslint rule for lowercase titles in test descriptions
  apps/api/test/routes/v1_files.test.ts
  apps/api/test/routes/v1_unicode-proxy.test.ts
  apps/api/test/routes/v1_unicode-releases.test.ts
Labels: apps: api

fix(store): improve version handling in initialization and update mirror options
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

refactor(store): update UCDStore initialization and remove unused options
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/tsconfig.build.json
  packages/ucd-store/tsconfig.json
  test/msw-utils/msw.ts
Labels: pkg: ucd-store

chore: set engines for all packages resolves #105
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/schema-gen/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils

refactor(capabilities): streamline capability checks and enhance decorator functionality
  packages/ucd-store/src/internal/capabilities.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/internal/capabilities.test.ts
  packages/utils/src/fs-bridge.ts
Labels: pkg: ucd-store, pkg: utils

chore: update mockFetch usage to support array of methods
  packages/fetch/test/index.test.ts
  packages/ucd-store/test/clean.test.ts
  packages/ucd-store/test/store-configuration.test.ts
  packages/utils/test/fs-bridge/http.test.ts
  test/msw-utils/msw.ts
Labels: pkg: fetch, pkg: ucd-store, pkg: utils

fix(factory): update comment for base URL handling in createHTTPUCDStore
  packages/ucd-store/src/factory.ts
Labels: pkg: ucd-store

fix(utils): correct URL construction for stat method
  packages/utils/src/fs-bridge/http.ts
Labels: pkg: utils

fix(ucd-store): update capability requirements for store features
  packages/ucd-store/src/internal/capabilities.ts
Labels: pkg: ucd-store

refactor(ucd-store): simplify path normalization logic
  packages/ucd-store/playgrounds/memory-playground.ts
  packages/ucd-store/tsconfig.json
Labels: pkg: ucd-store

fix(ucd-store): update repair method capability requirements
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

fix(ucd-store): update required capabilities for clean and analyze features
  packages/ucd-store/test/internal/capabilities.test.ts
Labels: pkg: ucd-store

refactor(ucd-store): clean up imports and improve error handling in store operations
  packages/ucd-store/src/internal/concurrency.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/clean.test.ts
  packages/ucd-store/test/old-tests/local-analysis-operations.-test.ts
Labels: pkg: ucd-store

test(ucd-store): add preconfigured filters and version management tests
  packages/ucd-store/test/old-tests/store-configuration.-test.ts
  packages/ucd-store/test/store-configuration.test.ts
Labels: pkg: ucd-store

chore: remove old tests
  packages/ucd-store/test/old-tests/analysis-operations.-test.ts
  packages/ucd-store/test/old-tests/core-file-operations.-test.ts
  packages/ucd-store/test/old-tests/dump._test.ts
  packages/ucd-store/test/old-tests/error-handling.-test.ts
  packages/ucd-store/test/old-tests/http-filesystem.-test.ts
  packages/ucd-store/test/old-tests/local-analysis-operations.-test.ts
  packages/ucd-store/test/old-tests/mirror.-test.ts
  packages/ucd-store/test/old-tests/performance-integration.-test.ts
  packages/ucd-store/test/old-tests/store.-test.ts
  packages/ucd-store/test/old-tests/validate.-test.ts
Labels: pkg: ucd-store

feat(openapi): add "Files" tag to OpenAPI configuration
  apps/api/src/openapi.ts
Labels: apps: api

refactor(ucd-store): enhance documentation for store methods
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

fix(ucd-store): ensure FileSystemBridge instance is provided in constructor
  packages/ucd-store/src/store.ts
Labels: pkg: ucd-store

feat(store): add analyze command and improve error handling
  packages/cli/src/cmd/store/_shared.ts
  packages/cli/src/cmd/store/analyze.ts
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
  packages/cli/src/cmd/store/root.ts
  packages/ucd-store/package.json
  packages/ucd-store/src/errors.ts
  packages/ucd-store/src/internal/capabilities.ts
  packages/ucd-store/src/store.ts
  packages/ucd-store/test/errors.test.ts
  packages/ucd-store/test/internal/capabilities.test.ts
  packages/ucd-store/tsdown.config.ts
  tooling/tsconfig/base.json
Labels: pkg: cli, pkg: ucd-store

feat(cli): add validation for remote or store directory flags
  packages/cli/src/cmd/store/_shared.ts
  packages/cli/src/cmd/store/analyze.ts
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
Labels: pkg: cli

feat(ucd-store): add UCDStoreFileNotFoundError and UCDStoreVersionNotFoundError classes
  packages/ucd-store/src/errors.ts
  packages/ucd-store/test/errors.test.ts
Labels: pkg: ucd-store

feat(cli): enhance analyze command with version support and orphaned file check
  packages/cli/src/cmd/store/analyze.ts
  packages/cli/src/cmd/store/root.ts
Labels: pkg: cli

feat(ucd-store): implement analyze and repair methods with orphaned file checks
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/types.ts
Labels: pkg: ucd-store

feat(cli): refactor store command implementations to use createStoreFromFlags
  packages/cli/src/cmd/store/_shared.ts
  packages/cli/src/cmd/store/analyze.ts
  packages/cli/src/cmd/store/clean.ts
  packages/cli/src/cmd/store/init.ts
  packages/cli/src/cmd/store/repair.ts
Labels: pkg: cli

feat(cli): update command help to include analyze subcommand
  packages/cli/src/cmd/store/root.ts
Labels: pkg: cli

test(ucd-store): implement mock filesystem bridges for store configuration tests
  packages/ucd-store/test/store-configuration.test.ts
Labels: pkg: ucd-store

chore: remove unused fn
  test/msw-utils/msw.ts
Labels: none

feat(tsdown-config): migrate to TypeScript and update configuration
  tooling/tsdown-config/base.ts
  tooling/tsdown-config/index.js
  tooling/tsdown-config/index.ts
  tooling/tsdown-config/package.json
  tooling/tsdown-config/tsconfig.json
Labels: none

feat(tsdown-config): migrate to TypeScript and update configuration
  tooling/tsdown-config/base.ts
  tooling/tsdown-config/index.js
  tooling/tsdown-config/index.ts
  tooling/tsdown-config/package.json
  tooling/tsdown-config/tsconfig.json
Labels: none

fix(api): simplify version validation logic
  apps/api/src/routes/v1_files.ts
Labels: apps: api

fix(api): simplify version validation logic
  apps/api/src/routes/v1_files.ts
Labels: apps: api
