Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: utils, pkg: schema-gen, pkg: ucd-store

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

chore: fix tests
  packages/ucd-store/test/fs-interface.test.ts
Labels: pkg: ucd-store

chore: fix tests
  packages/ucd-store/test/fs-interface.test.ts
Labels: pkg: ucd-store

chore: merge npmrc setting into pnpm-workspace
  .npmrc
  pnpm-workspace.yaml
Labels: none

chore: merge npmrc setting into pnpm-workspace
  .npmrc
  pnpm-workspace.yaml
Labels: none

feat: add turbo.json configuration files for cli, schema-gen, ucd-store, and utils; update tsconfig.base.build.json and remove test:watch task from turbo.json
  packages/cli/turbo.json
  packages/schema-gen/turbo.json
  packages/ucd-store/turbo.json
  packages/utils/turbo.json
  tsconfig.base.build.json
  turbo.json
Labels: pkg: cli, pkg: utils, pkg: schema-gen, pkg: ucd-store

feat: add turbo.json configuration files for cli, schema-gen, ucd-store, and utils; update tsconfig.base.build.json and remove test:watch task from turbo.json
  packages/cli/turbo.json
  packages/schema-gen/turbo.json
  packages/ucd-store/turbo.json
  packages/utils/turbo.json
  tsconfig.base.build.json
  turbo.json
Labels: pkg: cli, pkg: utils, pkg: schema-gen, pkg: ucd-store

chore: migrate to use tooling packages
  packages/cli/package.json
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  packages/schema-gen/package.json
  packages/schema-gen/tsconfig.build.json
  packages/schema-gen/tsconfig.json
  packages/ucd-store/package.json
  packages/ucd-store/tsconfig.build.json
  packages/ucd-store/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.build.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/tsconfig/base.build.json
  tooling/tsconfig/base.json
  tooling/tsconfig/package.json
  tsconfig.base.build.json
Labels: pkg: cli, pkg: utils, pkg: schema-gen, pkg: ucd-store

chore: migrate to use tooling packages
  packages/cli/package.json
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  packages/schema-gen/package.json
  packages/schema-gen/tsconfig.build.json
  packages/schema-gen/tsconfig.json
  packages/ucd-store/package.json
  packages/ucd-store/tsconfig.build.json
  packages/ucd-store/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.build.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/tsconfig/base.build.json
  tooling/tsconfig/base.json
  tooling/tsconfig/package.json
  tsconfig.base.build.json
Labels: pkg: cli, pkg: utils, pkg: schema-gen, pkg: ucd-store

chore: update readme
  tooling/tsconfig/README.md
Labels: none

chore: update readme
  tooling/tsconfig/README.md
Labels: none

chore: add changeset
  .changeset/kind-brooms-drum.md
Labels: none

refactor: move filter functionality from ucd-store to utils package
  packages/ucd-store/package.json
  packages/ucd-store/src/download.ts
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/local.ts
  packages/ucd-store/src/remote.ts
  packages/utils/package.json
  packages/utils/src/filter.ts
  packages/utils/src/index.ts
  packages/utils/test/filter.test.ts
  pnpm-lock.yaml
Labels: pkg: utils, pkg: ucd-store

refactor: update imports to use utils package for PRECONFIGURED_FILTERS
  packages/cli/src/cmd/download.ts
  packages/ucd-store/test/remote.test.ts
Labels: pkg: cli, pkg: ucd-store

refactor: update imports to use utils package for PRECONFIGURED_FILTERS
  packages/cli/src/cmd/download.ts
  packages/ucd-store/test/remote.test.ts
Labels: pkg: cli, pkg: ucd-store

refactor: move filter functionality from ucd-store to utils package
  packages/ucd-store/package.json
  packages/ucd-store/src/download.ts
  packages/ucd-store/src/index.ts
  packages/ucd-store/src/local.ts
  packages/ucd-store/src/remote.ts
  packages/utils/package.json
  packages/utils/src/filter.ts
  packages/utils/src/index.ts
  packages/utils/test/filter.test.ts
  pnpm-lock.yaml
Labels: pkg: utils, pkg: ucd-store

chore: add changeset
  .changeset/kind-brooms-drum.md
Labels: none

chore: lint
  packages/utils/package.json
Labels: pkg: utils

refactor: simplify createDefaultFSAdapter and add tests for FS adapter
  packages/utils/src/ucd-files.ts
  packages/utils/test/ucd-files.test.ts
Labels: pkg: utils

feat: add UCD file mirroring utilities and filesystem adapter
  packages/utils/src/types.ts
  packages/utils/src/ucd-files.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils

refactor: simplify createDefaultFSAdapter and add tests for FS adapter
  packages/utils/src/ucd-files.ts
  packages/utils/test/ucd-files.test.ts
Labels: pkg: utils

chore: add changeset
  .changeset/spotty-bikes-help.md
Labels: none

chore: add changeset
  .changeset/spotty-bikes-help.md
Labels: none

chore: lint
  packages/utils/package.json
Labels: pkg: utils

feat: add UCD file mirroring utilities and filesystem adapter
  packages/utils/src/types.ts
  packages/utils/src/ucd-files.ts
  packages/utils/tsdown.config.ts
Labels: pkg: utils

feat: implement mirrorUCDFiles
  packages/utils/src/ucd-files.ts
Labels: pkg: utils

feat: implement mirrorUCDFiles
  packages/utils/src/ucd-files.ts
Labels: pkg: utils

feat: add dependencies for unicode utilities and defu in package.json and pnpm-lock.yaml
  packages/utils/package.json
  pnpm-lock.yaml
Labels: pkg: utils

feat: add dependencies for unicode utilities and defu in package.json and pnpm-lock.yaml
  packages/utils/package.json
  pnpm-lock.yaml
Labels: pkg: utils

feat: enhance mirrorUCDFiles with pattern matching and error handling
  packages/utils/src/ucd-files.ts
Labels: pkg: utils

feat: enhance mirrorUCDFiles with pattern matching and error handling
  packages/utils/src/ucd-files.ts
Labels: pkg: utils

feat: enhance mirrorUCDFiles to handle errors and return located files
  packages/utils/src/types.ts
  packages/utils/src/ucd-files.ts
Labels: pkg: utils

feat: enhance mirrorUCDFiles to handle errors and return located files
  packages/utils/src/types.ts
  packages/utils/src/ucd-files.ts
Labels: pkg: utils

test: add comprehensive tests for mirroring
  packages/utils/src/ucd-files.ts
  packages/utils/test/ucd-files.test.ts
Labels: pkg: utils

test: add comprehensive tests for mirroring
  packages/utils/src/ucd-files.ts
  packages/utils/test/ucd-files.test.ts
Labels: pkg: utils

feat: enhance mirrorUCDFiles to handle errors and return located files
  packages/utils/src/types.ts
  packages/utils/src/ucd-files.ts
  packages/utils/test/ucd-files.test.ts
Labels: pkg: utils

feat: enhance mirrorUCDFiles to handle errors and return located files
  packages/utils/src/types.ts
  packages/utils/src/ucd-files.ts
  packages/utils/test/ucd-files.test.ts
Labels: pkg: utils

chore: lint
  packages/utils/test/ucd-files.test.ts
Labels: pkg: utils

chore: lint
  packages/utils/test/ucd-files.test.ts
Labels: pkg: utils

chore: add changeset
  .changeset/pretty-buckets-shine.md
Labels: none

chore: add changeset
  .changeset/pretty-buckets-shine.md
Labels: none
