Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

chore: add changeset
  .changeset/curly-states-pick.md
Labels: none

chore: add changeset
  .changeset/curly-states-pick.md
Labels: none

refactor(ucd-files): remove unused export of flattenFilePaths
  packages/ucd-store/src/ucd-files.ts
Labels: pkg: ucd-store

refactor(ucd-files): remove unused export of flattenFilePaths
  packages/ucd-store/src/ucd-files.ts
Labels: pkg: ucd-store

refactor(v1_versions): update type imports and enhance file structure
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

refactor(v1_versions): update type imports and enhance file structure
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

fix: actually resolve #156
  apps/api/src/index.ts
Labels: apps: api

fix: actually resolve #156
  apps/api/src/index.ts
Labels: apps: api

refactor(api): implement Unicode data proxy routes and schemas
  apps/api/src/index.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_raw.openapi.ts
  apps/api/src/routes/v1_raw.schemas.ts
  apps/api/src/routes/v1_raw.ts
  apps/api/test/routes/v1_raw.test.ts
Labels: apps: api

refactor(api): implement Unicode data proxy routes and schemas
  apps/api/src/index.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_raw.openapi.ts
  apps/api/src/routes/v1_raw.schemas.ts
  apps/api/src/routes/v1_raw.ts
  apps/api/test/routes/v1_raw.test.ts
Labels: apps: api

refactor(api): rename proxy schemas to raw schemas
  apps/api/src/routes/v1_raw.openapi.ts
  apps/api/src/routes/v1_raw.schemas.ts
Labels: apps: api

refactor(api): rename proxy schemas to raw schemas
  apps/api/src/routes/v1_raw.openapi.ts
  apps/api/src/routes/v1_raw.schemas.ts
Labels: apps: api

chore(fetch): update types
  packages/fetch/src/components.ts
Labels: pkg: fetch

chore(fetch): update types
  packages/fetch/src/components.ts
Labels: pkg: fetch

test(fetch): rename unicode-proxy to raw in tests
  apps/api/test/routes/v1_raw.test.ts
  packages/fetch/test/index.test.ts
Labels: pkg: fetch, apps: api

test(fetch): rename unicode-proxy to raw in tests
  apps/api/test/routes/v1_raw.test.ts
  packages/fetch/test/index.test.ts
Labels: pkg: fetch, apps: api

chore: standardize error message for 404 responses
  apps/api/src/routes/v1_raw.ts
  apps/api/test/routes/v1_raw.test.ts
  apps/api/worker-configuration.d.ts
  apps/proxy/worker-configuration.d.ts
Labels: apps: api, apps: proxy

chore: standardize error message for 404 responses
  apps/api/src/routes/v1_raw.ts
  apps/api/test/routes/v1_raw.test.ts
  apps/api/worker-configuration.d.ts
  apps/proxy/worker-configuration.d.ts
Labels: apps: api, apps: proxy

refactor(openapi): remove unused tags and clean up OpenAPI configuration
  apps/api/src/openapi.ts
Labels: apps: api

refactor(openapi): remove unused tags and clean up OpenAPI configuration
  apps/api/src/openapi.ts
Labels: apps: api

refactor(schemas): rename OpenAPI identifier for RawMetadata schema
  apps/api/src/routes/v1_raw.schemas.ts
Labels: apps: api

refactor(schemas): rename OpenAPI identifier for RawMetadata schema
  apps/api/src/routes/v1_raw.schemas.ts
Labels: apps: api

refactor(v1_raw): update cache names for wildcard routes
  apps/api/src/routes/v1_raw.ts
Labels: apps: api

refactor(v1_raw): update cache names for wildcard routes
  apps/api/src/routes/v1_raw.ts
Labels: apps: api

chore: fix
  apps/api/src/routes/v1_versions.openapi.ts
Labels: apps: api

chore: fix
  apps/api/src/routes/v1_versions.openapi.ts
Labels: apps: api

chore: lint
  apps/api/src/openapi.ts
  packages/fetch/src/components.ts
Labels: pkg: fetch, apps: api

chore: lint
  apps/api/src/openapi.ts
  packages/fetch/src/components.ts
Labels: pkg: fetch, apps: api

refactor(test): change lastModified to 0 in mock data
  packages/fetch/test/index.test.ts
Labels: pkg: fetch

refactor(test): change lastModified to 0 in mock data
  packages/fetch/test/index.test.ts
Labels: pkg: fetch

chore(ci): update CI configuration for pull requests
  .github/workflows/ci.yaml
Labels: none

chore(ci): update CI configuration for pull requests
  .github/workflows/ci.yaml
Labels: none

chore(workflows): add cleanup cache workflow and update release configuration
  .github/workflows/cleanup-cache.yaml
  .github/workflows/release.yaml
Labels: none

chore(workflows): add cleanup cache workflow and update release configuration
  .github/workflows/cleanup-cache.yaml
  .github/workflows/release.yaml
Labels: none

chore(workflows): add environment variables for Turbo configuration
  .github/workflows/pr-preview.yaml
Labels: none

chore(workflows): add environment variables for Turbo configuration
  .github/workflows/pr-preview.yaml
Labels: none

chore(workflows): add environment variables for Turbo configuration
  .github/workflows/deploy-preview.yaml
  .github/workflows/deploy.yaml
Labels: none

chore(workflows): add environment variables for Turbo configuration
  .github/workflows/deploy-preview.yaml
  .github/workflows/deploy.yaml
Labels: none

chore(workflows): update purge-action-cache version in cleanup cache workflow
  .github/workflows/cleanup-cache.yaml
Labels: none

chore(workflows): update purge-action-cache version in cleanup cache workflow
  .github/workflows/cleanup-cache.yaml
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**
