Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**

chore: update pnpm workspace dependencies
  apps/web/eslint.config.js
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: add VSCode settings for Tailwind CSS
  .vscode/settings.json
Labels: none

chore: add VSCode settings for Tailwind CSS
  .vscode/settings.json
Labels: none

chore: fix path
  .vscode/settings.json
Labels: none

chore: fix path
  .vscode/settings.json
Labels: none

chore: update configuration for Cloudflare Workers
  apps/web/.gitignore
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/tsconfig.worker.json
  apps/web/vite.config.ts
  apps/web/worker/index.ts
  apps/web/wrangler.jsonc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update configuration for Cloudflare Workers
  apps/web/.gitignore
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/tsconfig.worker.json
  apps/web/vite.config.ts
  apps/web/worker/index.ts
  apps/web/wrangler.jsonc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update pnpm-lock.yaml dependencies
  pnpm-lock.yaml
Labels: none

chore: update pnpm-lock.yaml dependencies
  pnpm-lock.yaml
Labels: none

chore: add extensions and update settings
  .vscode/extensions.json
  .vscode/settings.json
  apps/api/worker-configuration.d.ts
  apps/api/wrangler.jsonc
Labels: apps: api

chore: add extensions and update settings
  .vscode/extensions.json
  .vscode/settings.json
  apps/api/worker-configuration.d.ts
  apps/api/wrangler.jsonc
Labels: apps: api

feat!: refactor routes and improve error handling
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/lib/files.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/src/routes/v1_files/schemas.ts
  apps/api/src/routes/v1_raw.schemas.ts
  apps/api/src/routes/v1_raw.ts
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/routes/v1_versions/schemas.ts
  apps/api/src/worker.ts
  apps/api/test/index.test.ts
  apps/api/test/routes/v1_raw.test.ts
  apps/api/test/routes/v1_versions.test.ts
  apps/api/test/unit/files.test.ts
  apps/proxy/src/lib.ts
  package.json
  packages/worker-shared/src/errors.ts
  packages/worker-shared/src/index.ts
  packages/worker-shared/test/errors.test.ts
  pnpm-lock.yaml
Labels: pkg: worker-shared, apps: api, apps: proxy

feat!: refactor routes and improve error handling
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/lib/files.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/src/routes/v1_files/schemas.ts
  apps/api/src/routes/v1_raw.schemas.ts
  apps/api/src/routes/v1_raw.ts
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/routes/v1_versions/schemas.ts
  apps/api/src/worker.ts
  apps/api/test/index.test.ts
  apps/api/test/routes/v1_raw.test.ts
  apps/api/test/routes/v1_versions.test.ts
  apps/api/test/unit/files.test.ts
  apps/proxy/src/lib.ts
  package.json
  packages/worker-shared/src/errors.ts
  packages/worker-shared/src/index.ts
  packages/worker-shared/test/errors.test.ts
  pnpm-lock.yaml
Labels: pkg: worker-shared, apps: api, apps: proxy

feat: add UCD_FILE_STAT_TYPE_HEADER constant and update routes
  .vscode/settings.json
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/test/routes/v1_files.test.ts
  apps/api/test/routes/v1_raw.test.ts
  packages/env/src/constants.ts
  packages/env/src/index.ts
Labels: pkg: env, apps: api

feat: add UCD_FILE_STAT_TYPE_HEADER constant and update routes
  .vscode/settings.json
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/test/routes/v1_files.test.ts
  apps/api/test/routes/v1_raw.test.ts
  packages/env/src/constants.ts
  packages/env/src/index.ts
Labels: pkg: env, apps: api
