Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

chore: update script
  .github/scripts/compare-openapi.ts
Labels: none

chore: update script
  .github/scripts/compare-openapi.ts
Labels: none

chore: fix
  .github/workflows/openapi-artifact.yml
Labels: none

chore: fix
  .github/workflows/openapi-artifact.yml
Labels: none

feat(schemas): add UnicodeVersionSchema and refactor imports
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/routes/v1_versions/schemas.ts
  packages/schemas/src/index.ts
  packages/schemas/src/unicode.ts
Labels: pkg: schemas, apps: api

feat(schemas): add UnicodeVersionSchema and refactor imports
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/routes/v1_versions/schemas.ts
  packages/schemas/src/index.ts
  packages/schemas/src/unicode.ts
Labels: pkg: schemas, apps: api

feat(fetch): enhance schema handling in component extraction
  packages/fetch/scripts/extract-components.ts
  packages/fetch/src/components.ts
  tooling/test-utils/src/store-handlers/files.mock-handler.ts
  tooling/test-utils/src/store.ts
Labels: pkg: fetch

feat(fetch): enhance schema handling in component extraction
  packages/fetch/scripts/extract-components.ts
  packages/fetch/src/components.ts
  tooling/test-utils/src/store-handlers/files.mock-handler.ts
  tooling/test-utils/src/store.ts
Labels: pkg: fetch

chore: fix types
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

chore: fix types
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

chore: destroy openapi schema to test new changes trigger
  apps/api/src/lib/schemas.ts
Labels: apps: api

ci: enhance summary grid and detailed diff for schema components
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

ci: enhance summary grid and detailed diff for schema components
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-artifact.yml
Labels: none

chore: use multiple tables
  .github/scripts/compare-openapi.ts
Labels: none

chore: use multiple tables
  .github/scripts/compare-openapi.ts
Labels: none

chore: update schema
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
Labels: apps: api

fix
  apps/api/src/routes/v1_files/routes.ts
Labels: apps: api

fix(workflows): update issue comment type and reaction content
  .github/workflows/openapi-approve.yml
  .github/workflows/openapi-artifact.yml
Labels: none

fix(workflows): update issue comment type and reaction content
  .github/workflows/openapi-approve.yml
  .github/workflows/openapi-artifact.yml
Labels: none

chore: fix highlighting
  .github/scripts/compare-openapi.ts
Labels: none

chore: fix highlighting
  .github/scripts/compare-openapi.ts
Labels: none

chore: fix
  .github/scripts/compare-openapi.ts
Labels: none

chore: fix
  .github/scripts/compare-openapi.ts
Labels: none

fix(workflows): update approval process for breaking changes
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-approve.yml
  .github/workflows/openapi-artifact.yml
Labels: none

fix(workflows): update approval process for breaking changes
  .github/scripts/compare-openapi.ts
  .github/workflows/openapi-approve.yml
  .github/workflows/openapi-artifact.yml
Labels: none

fix(workflows): update target_url for status checks
  .github/workflows/openapi-approve.yml
  .github/workflows/openapi-artifact.yml
Labels: none

fix(workflows): update target_url for status checks
  .github/workflows/openapi-approve.yml
  .github/workflows/openapi-artifact.yml
Labels: none

feat(workflows): add OpenAPI diff to job summary
  .github/workflows/openapi-artifact.yml
Labels: none

feat(workflows): add OpenAPI diff to job summary
  .github/workflows/openapi-artifact.yml
Labels: none

chore: fix
  .github/workflows/openapi-artifact.yml
Labels: none

chore: fix
  .github/workflows/openapi-artifact.yml
Labels: none

fix(workflows): update approval handling for OpenAPI breaking changes
  .github/workflows/openapi-approve.yml
Labels: none

fix(workflows): update approval handling for OpenAPI breaking changes
  .github/workflows/openapi-approve.yml
Labels: none

fix(workflows): remove approval label on schema changes
  .github/workflows/openapi-artifact.yml
Labels: none

fix(workflows): remove approval label on schema changes
  .github/workflows/openapi-artifact.yml
Labels: none

refactor: update imports to use centralized schemas
  apps/api/src/lib/errors.ts
  apps/api/src/lib/index.ts
  apps/api/src/lib/openapi.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/src/routes/v1_files/schemas.ts
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/routes/v1_versions/schemas.ts
  apps/api/src/worker.ts
  apps/api/test/unit/errors.test.ts
  packages/fetch/src/components.ts
  packages/fetch/src/guards.ts
  packages/schemas/src/api.ts
  packages/schemas/src/fs.ts
  packages/schemas/src/index.ts
  packages/schemas/src/unicode.ts
Labels: pkg: fetch, pkg: schemas, apps: api

refactor: update imports to use centralized schemas
  apps/api/src/lib/errors.ts
  apps/api/src/lib/index.ts
  apps/api/src/lib/openapi.ts
  apps/api/src/openapi.ts
  apps/api/src/routes/v1_files/openapi.ts
  apps/api/src/routes/v1_files/routes.ts
  apps/api/src/routes/v1_files/schemas.ts
  apps/api/src/routes/v1_versions/openapi.ts
  apps/api/src/routes/v1_versions/routes.ts
  apps/api/src/routes/v1_versions/schemas.ts
  apps/api/src/worker.ts
  apps/api/test/unit/errors.test.ts
  packages/fetch/src/components.ts
  packages/fetch/src/guards.ts
  packages/schemas/src/api.ts
  packages/schemas/src/fs.ts
  packages/schemas/src/index.ts
  packages/schemas/src/unicode.ts
Labels: pkg: fetch, pkg: schemas, apps: api

chore: update components
  packages/fetch/src/components.ts
Labels: pkg: fetch

chore: update components
  packages/fetch/src/components.ts
Labels: pkg: fetch

chore: update packageManager to pnpm@10.16.1 across all packages
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cli/package.json
  packages/env/package.json
  packages/fetch/package.json
  packages/fs-bridge/package.json
  packages/path-utils/package.json
  packages/schema-gen/package.json
  packages/schemas/package.json
  packages/shared/package.json
  packages/ucd-store/package.json
  packages/utils/package.json
  pnpm-workspace.yaml
  tooling/moonbeam/package.json
  tooling/test-utils/package.json
  tooling/tsconfig/package.json
Labels: pkg: cli, pkg: env, pkg: fetch, pkg: schemas, pkg: path-utils, pkg: fs-bridge, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: shared, apps: api, apps: web

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schemas":
  - changed-files:
      - any-glob-to-any-file: packages/schemas/**

"pkg: path-utils":
  - changed-files:
      - any-glob-to-any-file: packages/path-utils/**

"pkg: fs-bridge":
  - changed-files:
      - any-glob-to-any-file: packages/fs-bridge/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: shared":
  - changed-files:
      - any-glob-to-any-file: packages/shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: web":
  - changed-files:
      - any-glob-to-any-file: apps/web/**
