Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**

test(api): add comprehensive tests for Unicode version endpoint
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

test(api): add comprehensive tests for Unicode version endpoint
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

refactor(api): remove deprecated file routes and schemas
  apps/api/src/index.ts
  apps/api/src/routes/v1_files.openapi.ts
  apps/api/src/routes/v1_files.schemas.ts
  apps/api/src/routes/v1_files.ts
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
  packages/fetch/src/components.ts
Labels: pkg: fetch, apps: api

refactor(api): remove deprecated file routes and schemas
  apps/api/src/index.ts
  apps/api/src/routes/v1_files.openapi.ts
  apps/api/src/routes/v1_files.schemas.ts
  apps/api/src/routes/v1_files.ts
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
  packages/fetch/src/components.ts
Labels: pkg: fetch, apps: api

test(api): add file retrieval endpoint for specific Unicode versions
  apps/api/test/routes/v1_files.test.ts
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

test(api): add file retrieval endpoint for specific Unicode versions
  apps/api/test/routes/v1_files.test.ts
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

fix(api): update GET_VERSION_FILE_TREE_ROUTE path for consistency
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.ts
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

fix(api): update GET_VERSION_FILE_TREE_ROUTE path for consistency
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.ts
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

chore: lint
  apps/api/src/routes/v1_versions.openapi.ts
Labels: apps: api

chore: lint
  apps/api/src/routes/v1_versions.openapi.ts
Labels: apps: api

refactor(api): remove LIST_VERSION_MAPPINGS_ROUTE and related schema
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
  packages/fetch/test/index.test.ts
Labels: pkg: fetch, apps: api

refactor(api): remove LIST_VERSION_MAPPINGS_ROUTE and related schema
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  apps/api/src/routes/v1_versions.ts
  packages/fetch/test/index.test.ts
Labels: pkg: fetch, apps: api

refactor(api): remove UnicodeVersionMappings type from components
  packages/fetch/src/components.ts
Labels: pkg: fetch

refactor(api): remove UnicodeVersionMappings type from components
  packages/fetch/src/components.ts
Labels: pkg: fetch

chore: lint
  apps/api/src/routes/v1_versions.schemas.ts
Labels: apps: api

chore: lint
  apps/api/src/routes/v1_versions.schemas.ts
Labels: apps: api

refactor(api): update type references in flatten functions
  packages/utils/src/flatten.ts
  packages/utils/test/flatten.test.ts
Labels: pkg: utils

refactor(api): update type references in flatten functions
  packages/utils/src/flatten.ts
  packages/utils/test/flatten.test.ts
Labels: pkg: utils

chore: fix until new store
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files/helpers.ts
  packages/ucd-store/src/ucd-files/internal.ts
Labels: pkg: ucd-store

chore: fix until new store
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files/helpers.ts
  packages/ucd-store/src/ucd-files/internal.ts
Labels: pkg: ucd-store

chore: fix
  packages/ucd-store/src/ucd-files/validate.ts
Labels: pkg: ucd-store

chore: fix
  packages/ucd-store/src/ucd-files/validate.ts
Labels: pkg: ucd-store

chore: update compatibility dates and add type assertions
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/wrangler.jsonc
  apps/proxy/vitest.config.ts
  apps/proxy/wrangler.jsonc
Labels: apps: api, apps: proxy

chore: update compatibility dates and add type assertions
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/wrangler.jsonc
  apps/proxy/vitest.config.ts
  apps/proxy/wrangler.jsonc
Labels: apps: api, apps: proxy

Remove obsolete tests for UCD file handling and replace with a simple truthy check
  apps/api/src/routes/v1_unicode-proxy.ts
  packages/ucd-store/test/store.test.ts
  packages/ucd-store/test/ucd-files/dump._test.ts
  packages/ucd-store/test/ucd-files/mirror.test.ts
  packages/ucd-store/test/ucd-files/validate.test.ts
Labels: pkg: ucd-store, apps: api

Remove obsolete tests for UCD file handling and replace with a simple truthy check
  apps/api/src/routes/v1_unicode-proxy.ts
  packages/ucd-store/test/store.test.ts
  packages/ucd-store/test/ucd-files/dump._test.ts
  packages/ucd-store/test/ucd-files/mirror.test.ts
  packages/ucd-store/test/ucd-files/validate.test.ts
Labels: pkg: ucd-store, apps: api

refactor(api): improve mock implementations and clean up tests
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

refactor(api): improve mock implementations and clean up tests
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

chore: fix test
  packages/fetch/test/index.test.ts
Labels: pkg: fetch

chore: fix test
  packages/fetch/test/index.test.ts
Labels: pkg: fetch

test: improve mock implementations for unicode-utils-new
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

test: improve mock implementations for unicode-utils-new
  apps/api/test/routes/v1_versions.test.ts
Labels: apps: api

fix(flatten): correct file path handling in flattenFilePaths function
  packages/utils/src/flatten.ts
  packages/utils/test/flatten.test.ts
Labels: pkg: utils

fix(flatten): correct file path handling in flattenFilePaths function
  packages/utils/src/flatten.ts
  packages/utils/test/flatten.test.ts
Labels: pkg: utils

refactor: rename FileTreeNode to UnicodeTreeNode and update related schemas
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  packages/fetch/src/components.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/utils/src/flatten.ts
  packages/utils/test/flatten.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: fetch, pkg: ucd-store, pkg: utils, apps: api

refactor: rename FileTreeNode to UnicodeTreeNode and update related schemas
  apps/api/src/routes/v1_versions.openapi.ts
  apps/api/src/routes/v1_versions.schemas.ts
  packages/fetch/src/components.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/utils/src/flatten.ts
  packages/utils/test/flatten.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: fetch, pkg: ucd-store, pkg: utils, apps: api

test(utils): enhance UnicodeTree structure in flattenFilePaths tests
  packages/utils/test/flatten.test.ts
Labels: pkg: utils

test(utils): enhance UnicodeTree structure in flattenFilePaths tests
  packages/utils/test/flatten.test.ts
Labels: pkg: utils

refactor(store): update file tree types and import flattenFilePaths from utils
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files/helpers.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/ucd-store/src/ucd-files/validate.ts
  packages/utils/src/flatten.ts
  packages/utils/src/index.ts
Labels: pkg: ucd-store, pkg: utils

refactor(store): update file tree types and import flattenFilePaths from utils
  packages/ucd-store/src/store.ts
  packages/ucd-store/src/ucd-files/helpers.ts
  packages/ucd-store/src/ucd-files/internal.ts
  packages/ucd-store/src/ucd-files/validate.ts
  packages/utils/src/flatten.ts
  packages/utils/src/index.ts
Labels: pkg: ucd-store, pkg: utils
