Repository ucdjs/ucd, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: cli, pkg: env, pkg: fetch, pkg: schema-gen, pkg: ucd-store, pkg: utils, pkg: worker-shared, apps: api, apps: proxy

feat(entry-middleware): add type definitions for entry context
  apps/proxy/src/entry-middleware.ts
  apps/proxy/test/unit/entry-middleware.test.ts
Labels: apps: proxy

feat(entry-middleware): add type definitions for entry context
  apps/proxy/src/entry-middleware.ts
  apps/proxy/test/unit/entry-middleware.test.ts
Labels: apps: proxy

test(entry-middleware): add test for handling ProxyFetchError
  apps/proxy/test/unit/entry-middleware.test.ts
Labels: apps: proxy

test(entry-middleware): add test for handling ProxyFetchError
  apps/proxy/test/unit/entry-middleware.test.ts
Labels: apps: proxy

chore(proxy): add @luxass/utils dependency and update path handling
  apps/proxy/package.json
  pnpm-lock.yaml
Labels: apps: proxy

chore(proxy): add @luxass/utils dependency and update path handling
  apps/proxy/package.json
  pnpm-lock.yaml
Labels: apps: proxy

feat(proxy): enhance entry handling and add error responses
  apps/proxy/src/index.ts
  apps/proxy/test/index.test.ts
Labels: apps: proxy

feat(proxy): enhance entry handling and add error responses
  apps/proxy/src/index.ts
  apps/proxy/test/index.test.ts
Labels: apps: proxy

chore: format
  apps/proxy/test/unit/entry-middleware.test.ts
Labels: apps: proxy

chore: format
  apps/proxy/test/unit/entry-middleware.test.ts
Labels: apps: proxy

fix(worker-shared): standardize error message capitalization
  packages/worker-shared/src/errors.ts
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

fix(worker-shared): standardize error message capitalization
  packages/worker-shared/src/errors.ts
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

fix(worker-shared): improve error logging in handlers
  packages/worker-shared/src/handlers.ts
Labels: pkg: worker-shared

fix(worker-shared): improve error logging in handlers
  packages/worker-shared/src/handlers.ts
Labels: pkg: worker-shared

test(worker-shared): refactor tests for invalid status codes and response references
  packages/worker-shared/test/openapi.test.ts
Labels: pkg: worker-shared

test(worker-shared): refactor tests for invalid status codes and response references
  packages/worker-shared/test/openapi.test.ts
Labels: pkg: worker-shared

test(worker-shared): add tests for error and not found handlers
  packages/worker-shared/test/handlers.test.ts
Labels: pkg: worker-shared

test(worker-shared): add tests for error and not found handlers
  packages/worker-shared/test/handlers.test.ts
Labels: pkg: worker-shared

feat(worker-shared): add strictJSONResponse utility function
  packages/worker-shared/package.json
  packages/worker-shared/src/index.ts
  packages/worker-shared/src/strict.ts
  pnpm-lock.yaml
  vitest.config.ts
Labels: pkg: worker-shared

feat(worker-shared): add strictJSONResponse utility function
  packages/worker-shared/package.json
  packages/worker-shared/src/index.ts
  packages/worker-shared/src/strict.ts
  pnpm-lock.yaml
  vitest.config.ts
Labels: pkg: worker-shared

test(worker-shared): add tests for setupRatelimit functionality
  packages/worker-shared/src/setups.ts
  packages/worker-shared/test/setups.test.ts
Labels: pkg: worker-shared

test(worker-shared): add tests for setupRatelimit functionality
  packages/worker-shared/src/setups.ts
  packages/worker-shared/test/setups.test.ts
Labels: pkg: worker-shared

test(worker-shared): add unit tests for strictJSONResponse function
  packages/worker-shared/test/strict.test.ts
Labels: pkg: worker-shared

test(worker-shared): add unit tests for strictJSONResponse function
  packages/worker-shared/test/strict.test.ts
Labels: pkg: worker-shared

chore: fix test
  apps/api/test/index.test.ts
Labels: apps: api

chore: fix test
  apps/api/test/index.test.ts
Labels: apps: api

chore: implement Unicode proxy worker with routes and error handling
  apps/api/src/worker.ts
  apps/api/test/index.test.ts
  apps/api/test/routes/v1_raw.test.ts
  apps/api/test/routes/v1_versions.test.ts
  apps/api/wrangler.jsonc
  apps/proxy/src/worker.ts
  apps/proxy/test/index.test.ts
  apps/proxy/wrangler.jsonc
Labels: apps: api, apps: proxy

chore: implement Unicode proxy worker with routes and error handling
  apps/api/src/worker.ts
  apps/api/test/index.test.ts
  apps/api/test/routes/v1_raw.test.ts
  apps/api/test/routes/v1_versions.test.ts
  apps/api/wrangler.jsonc
  apps/proxy/src/worker.ts
  apps/proxy/test/index.test.ts
  apps/proxy/wrangler.jsonc
Labels: apps: api, apps: proxy

chore(worker): update import for getOpenAPI31Document
  apps/api/scripts/build-openapi.ts
Labels: apps: api

chore(worker): update import for getOpenAPI31Document
  apps/api/scripts/build-openapi.ts
Labels: apps: api

chore(worker-shared): update TypeScript definitions and dependencies
  apps/api/worker-configuration.d.ts
  packages/worker-shared/package.json
  packages/worker-shared/src/setups.ts
  packages/worker-shared/test/setups.test.ts
  packages/worker-shared/tsconfig.build.json
  packages/worker-shared/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: worker-shared, apps: api

chore(worker-shared): update TypeScript definitions and dependencies
  apps/api/worker-configuration.d.ts
  packages/worker-shared/package.json
  packages/worker-shared/src/setups.ts
  packages/worker-shared/test/setups.test.ts
  packages/worker-shared/tsconfig.build.json
  packages/worker-shared/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: worker-shared, apps: api

chore: lint
  packages/worker-shared/test/setups.test.ts
Labels: pkg: worker-shared

chore: lint
  packages/worker-shared/test/setups.test.ts
Labels: pkg: worker-shared

chore: add extensions and settings for improved development workflow
  .vscode/extensions.json
  .vscode/settings.json
  apps/api/worker-configuration.d.ts
  apps/api/wrangler.jsonc
Labels: apps: api

chore: fix typechecking
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

chore: fix typechecking
  packages/worker-shared/test/errors.test.ts
Labels: pkg: worker-shared

chore: fix typechecking
  packages/worker-shared/test/strict.test.ts
Labels: pkg: worker-shared

chore: fix typechecking
  packages/worker-shared/test/strict.test.ts
Labels: pkg: worker-shared

chore: update pnpm workspace dependencies
  apps/web/eslint.config.js
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: cli":
  - changed-files:
      - any-glob-to-any-file: packages/cli/**

"pkg: env":
  - changed-files:
      - any-glob-to-any-file: packages/env/**

"pkg: fetch":
  - changed-files:
      - any-glob-to-any-file: packages/fetch/**

"pkg: schema-gen":
  - changed-files:
      - any-glob-to-any-file: packages/schema-gen/**

"pkg: ucd-store":
  - changed-files:
      - any-glob-to-any-file: packages/ucd-store/**

"pkg: utils":
  - changed-files:
      - any-glob-to-any-file: packages/utils/**

"pkg: worker-shared":
  - changed-files:
      - any-glob-to-any-file: packages/worker-shared/**

"apps: api":
  - changed-files:
      - any-glob-to-any-file: apps/api/**

"apps: proxy":
  - changed-files:
      - any-glob-to-any-file: apps/proxy/**
